<!DOCTYPE html>
<html>
<head>
  <!-- Basic Page Needs =====================================-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <!-- Site Title- -->
  <title>TH16-News Online</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script type="text/javascript">
    history.pushState(null,null,location.href);
    window.onpopstate=function(){
      history.go(1);
    }
  </script>
</head>
<body>
      <!-- BEGIN: logo -->
  <div  class = "logo">
    <div class="container">
    <a href="home.html">
      <img class="logo" src="/img/logo.png" alt="logo">
    </a>
    </div>
  </div>
  <!-- END: logo -->
<!-- BEGIN: Menu -->
<div >
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="top: 0px;">
    <div class="container"> 
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-justified">
        <!--  menu Thoi su  -->
        <li class="font-bold">
            <a class="dropdown-toggle" href="ThoiSuPage1.html">
            Thời sự
            </a>
            <ul class="dropdown-menu">
            <li class="">
                <a href="TinTuc.html" data-color="#d9534f" class="cat_c">Tin tức</a>
            </li>
            <li class="">
                <a href="QuocHoi.html" data-color="#d9534f" class="cat_c">Quốc hội</a>
            </li>
            </ul>
        </li>
        <!--  menu Kinh tế  -->
        <li class="font-bold">
            <a class="dropdown-toggle" href="KinhTe.html">
            Kinh tế
            </a>
            <ul class="dropdown-menu">
            <li class="">
                <a href="KhuyenNong.html" data-color="#d9534f" class="cat_c">Khuyến nông</a>
            </li>
            <li class="">
                <a href="DoanhNghiep.html" data-color="#d9534f" class="cat_c">Doanh nghiệp</a>
            </li>
            </ul>
        </li>
        <!--  menu Nhịp sống  -->
        <li class="  font-bold">
            <a class="dropdown-toggle" href="NhipSong.html">
            Nhịp sống
            </a>
            <ul class="dropdown-menu">
            <li class="">
                <a href="AnNinhTratTu.html" data-color="#d9534f" class="cat_c">An ninh trật tự</a>
            </li>
            <li class="">
                <a href="DoiSong.html" data-color="#d9534f" class="cat_c">Đời sống</a>
            </li>
            </ul>
        </li>
        <!--  menu Bất động sản  -->
        <li class="  font-bold">
            <a class="dropdown-toggle" href="BatDongSan.html">
            Bất động sản
            </a>
            <ul class="dropdown-menu">
            <li class="">
                <a href="ThiTruong.html" data-color="#d9534f" class="cat_c">Thị trường</a>
            </li>
            <li class="">
                <a href="PhanTichNhanDinh.html" data-color="#d9534f" class="cat_c">Phân tích - Nhận định</a>
            </li>
            </ul>
        </li>
        <!--  menu Xã hội  -->
        <li class="  font-bold">
            <a class="dropdown-toggle" href="XaHoi.html">
            Xã hội
            </a>
            <ul class="dropdown-menu">
            <li class="">
                <a href="PhongSuKiSu.html" data-color="#d9534f" class="cat_c">Phóng sự - kí sự</a>
            </li>
            <li class="">
                <a href="XaHoiTuThien.html" data-color="#d9534f" class="cat_c">Xã hội từ thiện</a>
            </li>
            </ul>
        </li>
        <!--  menu Pháp luật  -->
        <li class="  font-bold">
            <a class="dropdown-toggle" href="PhapLuat.html">
            Pháp luật
            </a>
            <ul class="dropdown-menu">
            <li class="">
                <a href="TuVan.html" data-color="#d9534f" class="cat_c">Tư vấn</a>
            </li>
            <li class="">
                <a href="VanBanMoi.html" data-color="#d9534f" class="cat_c">Văn bản mới</a>
            </li>
            </ul>
        </li>
        <!--  menu Sức khỏe  -->
        <li class="  font-bold">
            <a class="dropdown-toggle" href="SucKhoe.html">
            Sức khỏe
            </a>
            <ul class="dropdown-menu">
            <li class="">
                <a href="AnToanVeSinhThucPham.html" data-color="#d9534f" class="cat_c">An toàn vệ sinh thực phẩm</a>
            </li>
            <li class="">
                <a href="SongKhoe.html" data-color="#d9534f" class="cat_c">Sống khỏe</a>
            </li>
            </ul>
        </li>
        <!-- icon login  -->
        <li class="login_icon">
            <a href="#"  data-toggle="modal" data-target="#loginModal">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
        </li>

        <!-- icon search  -->
        <li class="search_ hidden-xs hidden-sm">
            <a href="#" class="color_fff " id="toggle-search">
            <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            
        </li>

        <div class="div_search sr_none" style="height: 60px;margin-top: 1px">
            <form method="get" action="#" class="formsearch hidden-xs hidden-sm" id="search-form">
                <div class="search_fm">
                <input type="search" class="form-control" id="ip_search" name="key" placeholder="Tìm kiếm" value="">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
            </div>
        </ul>
    </div>
        </ul>
    </div>
    </div>
</nav>
</div>
<!-- END: Menu -->

<!-- Modal login-->
<div class="modal fade" id="loginModal" role="dialog">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

    <h2 style="font-size: 30px;">Đăng nhập</h2>

    <div class="container loginbody">
        <form>
        <div class="loginrow">

            <div class="logincol logininput">         
            <input type="text" name="username" placeholder="Tên đăng nhập" required>
            <input type="password" name="password" placeholder="Mật khẩu" required>
            <div class="forgotpassword"><a href="#"><i>Quên mật khẩu?</i></a></div>
            <div class="displayrow">
                <a href="#" class="fb btnLogin socialmedia">
                <i class="fa fa-facebook fa-fw"></i>Facebook
                </a>
                <a href="#" class="google btnLogin socialmedia">
                <i class="fa fa-google fa-fw"></i>Google+
                </a>
                <input type="submit" value="Đăng nhập">
            </div>
            </div>

        </div>
        </form>
    </div>
    <p class="centertext">Bạn chưa có tài khoản?
        <a href="#" data-toggle="modal" data-target="#signupModal"><strong>Đăng kí</strong></a> ngay.
    </p>
    </div>

</div>
</div>
<!-- Modal signup-->
<div class="modal fade" id="signupModal" role="dialog">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

    <h2 style="font-size: 30px;">Đăng kí tài khoản</h2>

    <div class="container signupbody">
        <form>
        <div class="signuprow">              
            <div class="signupcol"> 
            <label for="username">Tên đăng nhập</label>     
            <input type="text" name="username"required>
            <label for="name">Họ và tên</label>
            <input type="text" name="name" required>
            <label for="password">Mật khẩu</label>
            <input type="password" name="password"  required>
            <label for="repassword">Nhập lại mật khẩu</label>
            <input type="password" name="repassword" required>
            <input type="checkbox" name="agree">Tôi đồng ý với quy định của toàn soạn.<br>
            <input type="submit" value="Đăng kí">
            </div>
        </div>
        </form>
    </div>
    </div>
</div>
</div>

<div class="container">
<!-- BEGIN-MAIN -->
<main>
<!-- BEGIN:ROW1 -->
<section class="row">
    <!-- BEGIN:tin hot nhất -->
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    <header class="jumbotron pall30 mb15">
        <h1 class="fs-21">
            {{this.singlenews.News_Name}}
            
        </h1>
        <small class="meta text-muted">
        <span>
            <time class="friendly" datetime="2019-05-02 16:26:50">
            <i class="fa fa-clock-o" aria-hidden="true"></i>16:26 -
            <i class="fa fa-calendar" aria-hidden="true"></i>Thứ năm, 02/05/2019
            </time>
        </span>
        </small>
        <p class="mb0"><span class="label label-success">{{this.singlenews.CatID}}</span> Tại Diễn đàn Kinh tế tư nhân Việt Nam 2019
        (2-3/5), phiên hiến kế về nông nghiệp ghi nhận nhiều giải pháp thúc đẩy sản xuất nông nghiệp hàng hóa, an toàn
        và bền vững.</p>
    </header>
    <style>
    </style>
    <div class="row ">

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 detail_ct" style="width: 100%">
        <!-- BEGIN: Nội dung -->
        {{!-- <article class="article-detail">
            <!-- Nếu type là hình ảnh -->
            <!-- Nếu type là video -->
            <!-- Bài viết bình thường -->
            <p><strong>Báo Kinh tế nông thôn trân trọng giới thiệu toàn văn Chỉ thị.&nbsp;</strong></p>
            <figure style="text-align: center;"><img style="width: 600px; max-width: 98%;" title="dtl.jpg"
                    src="http://kinhtenongthon.vn/media/news/ef986f30fab2fc38b8d7be268b2b1dca/dtl.jpg" alt="dtl.jpg"
                    data-fb-disable-360="">
                <figcaption class="op-vertical-below"><em>Ảnh minh họa. Nguồn: Chinhphu.vn</em></figcaption>
            </figure>
            <div class="banner hidden middle_post" fix=""></div>
            <div>Theo thông tin từ Tổ chức Thú y thế giới (OIE) và Tổ chức Nông Lương Liên Hợp Quốc (FAO), bệnh dịch tả lợn châu
                Phi đã xuất hiện tại hơn 60 quốc gia, phải tiêu huỷ hàng trăm triệu con lợn và phải chi hàng chục tỉ đô la Mỹ
                cho công tác phòng, chống dịch bệnh. Hiện nay, tình hình dịch bệnh lây lan rất nhanh, diễn biến phức tạp tại
                nhiều nước trên thế giới.</div>
            <p>Ở nước ta từ tháng 02/2019 đến nay, bệnh dịch tả lợn châu Phi đã xảy ra tại nhiều tỉnh, thành phố, dẫn đến buộc
                phải tiêu huỷ trên 1,5 triệu con lợn. Chính phủ, Thủ tướng Chính phủ đã và đang tập trung chỉ đạo các bộ, ngành
                và Uỷ ban nhân dân các tỉnh, thành phố trực thuộc Trung ương tổ chức triển khai quyết liệt, khá đồng bộ các giải
                pháp phòng, chống bệnh dịch tả lợn châu Phi. Tuy nhiên, nguy cơ dịch bệnh tiếp tục có chiều hướng lây lan nhanh,
                phạm vi rộng, làm ảnh hưởng rất nghiêm trọng đến phát triển chăn nuôi lợn, gây tổn thất lớn về kinh tế, ảnh
                hưởng lớn đến môi trường, đời sống của người chăn nuôi và công tác quản lý nhà nước của ta. Vì vậy, phòng, chống
                và tổ chức khống chế bệnh dịch tả lợn châu Phi là công việc cấp bách và rất quan trọng hiện nay.</p>
            <p>Ban Bí thư yêu cầu các cấp uỷ, tổ chức đảng, chính quyền từ Trung ương đến địa phương phải tập trung lãnh đạo,
                chỉ đạo, huy động sức mạnh tổng hợp của cả hệ thống chính trị và toàn xã hội thực hiện tốt một số nhiệm vụ trọng
                tâm sau:</p>
            <p><strong>1.&nbsp;</strong>Coi nhiệm vụ phòng, chống, khống chế bệnh dịch tả lợn châu Phi là nhiệm vụ trọng tâm,
                cấp bách lúc này, phải tập trung lãnh đạo, chỉ đạo các cấp chính quyền, Mặt trận, các đoàn thể và tổ chức xã
                hội... tổ chức thực hiện khẩn trương, kiên quyết, đồng bộ các biện pháp do Chính phủ và các bộ, ngành liên quan
                chỉ đạo, hướng dẫn về phòng, chống bệnh dịch tả lợn châu Phi; quyết tâm khống chế bệnh dịch tả lợn châu Phi
                trong thời gian nhanh nhất để bảo đảm điều kiện tiếp tục phát triển kinh tế-xã hội nhanh và bền vững, cải thiện
                đời sống nhân dân.</p>
            <p><strong>2.&nbsp;</strong>Lãnh đạo, chỉ đạo công tác thông tin, tuyên truyền đến từng cán bộ, đảng viên và nhân
                dân để mọi người đều nhận rõ tính chất nguy hiểm và tác hại nghiêm trọng của bệnh dịch tả lợn châu Phi đã và
                đang xảy ra đối với các hoạt động kinh tế và đời sống của nhân dân. Động viên toàn Đảng, toàn dân, lực lượng vũ
                trang tích cực tham gia vào công tác phòng, chống dịch, giảm thiểu tổn thất về kinh tế, bảo đảm an sinh xã hội.
                Đồng thời, thông tin kịp thời, chính xác cho người dân theo nguyên tắc vừa bảo đảm yêu cầu phòng, chống dịch
                bệnh, vừa bảo vệ sản xuất, tiêu thụ sản phẩm thịt lợn, tránh gây hoang mang trong xã hội.</p>
            <p><strong>3.</strong>&nbsp;Cùng với việc chỉ đạo các biện pháp để phòng, chống, khống chế bệnh dịch tả lợn châu
                Phi, cấp uỷ, tổ chức đảng các cấp chỉ đạo việc chuẩn bị tốt các điều kiện để khôi phục chăn nuôi lợn ngay sau
                khi dịch bệnh được khống chế và đẩy mạnh phát triển chăn nuôi gia súc khác, gia cầm, thuỷ sản để bảo đảm nhu cầu
                tiêu dùng của nhân dân. Tổ chức rút kinh nghiệm đợt phòng, chống vừa qua để chủ động phát hiện sớm, thông tin
                kịp thời và có biện pháp sẵn sàng phòng, chống các loại dịch bệnh khác có thể xảy ra đối với vật nuôi, cây
                trồng.</p>
            <p><strong>4.&nbsp;</strong>Uỷ ban nhân dân các tỉnh, thành phố bảo đảm kinh phí và các nguồn lực tổ chức triển khai
                có hiệu quả công tác phòng, chống, khống chế bệnh dịch tả lợn châu Phi, các dịch bệnh động vật nói chung và
                nhanh chóng kiểm soát lây lan; kiện toàn, củng cố hệ thống thú y các cấp theo đúng quy định của Luật Thú y, tăng
                cường năng lực thú y các cấp đủ sức thực thi nhiệm vụ.</p>
            <p><strong>5.&nbsp;</strong>Mặt trận Tổ quốc và các đoàn thể nhân dân từ Trung ương đến địa phương có trách nhiệm
                tham gia phổ biến, tuyên truyền nâng cao nhận thức của nhân dân về bệnh dịch tả lợn châu Phi; động viên các tầng
                lớp nhân dân, các cơ quan, đơn vị chủ động tham gia tích cực vào công tác phòng, chống, khống chế dịch bệnh;
                tăng cường kiểm tra, giám sát việc tổ chức chỉ đạo phòng, chống, khống chế dịch ở từng cấp; vận động, kêu gọi
                các tổ chức, cá nhân trong và ngoài nước ủng hộ kinh phí, phương tiện, vật chất kỹ thuật, chia sẻ kinh nghiệm
                trong việc phòng, chống dịch bệnh, giúp đỡ các gia đình bị thiệt hại nặng nề trong đợt dịch bệnh này.</p>
            <p><strong>6.&nbsp;</strong>Người đứng đầu cấp uỷ, tổ chức đảng, chính quyền các cấp chịu trách nhiệm trước cấp uỷ,
                chính quyền cấp trên về việc lãnh đạo, chỉ đạo thực hiện có hiệu quả chỉ đạo của Chính phủ và Chỉ thị này.</p>
            <p>Chỉ thị này được phổ biến, quán triệt đến các chi bộ đảng và đảng viên</p>
        
        </article> --}}
        
        <!-- END: Nội dung -->
        <div id = 'content_new'
            "LoadContent({{this.singlenews.Content}})">
        </div>
        <script>
            function LoadContent(content) {
            console.log("haha");
            var tempDiv=document.createElement("div");
            tempDiv.innerHTML=content;
            return tempDiv.textContent || tempDiv.innerText || "";
            }
        </script>
        <div class="article-bottom">
            <div class="authors text-right font-bold">
            <i class="fa fa-pencil"></i> Vân Nhi
            </div>
            <hr>

        </div>

        </div>
    </div>

    <!-- BEGIN: Tags -->
    <ul class="list-inline border0 tags-list mt7 mb7 font-2">
        <li class="font-bold">
        <i class="fa fa-tags"></i> Từ khóa:
        </li>
        <li>
        <a href="KinhTe.html">
            <h5 class="mb5 mt0">
            <span class="label label-default">Giao Thông</span>
            </h5>
        </a>
        </li>
        <li>
        <a href="KhuyenNong.html">
            <h5 class="mb5 mt0">
            <span class="label label-default">Công An</span>
            </h5>
        </a>
        </li>
        <li>
        <a href="DoanhNghiep.html">
            <h5 class="mb5 mt0">
            <span class="label label-default">An Ninh</span>
            </h5>
        </a>
        </li>
    </ul><!-- END: Tags -->

    <!-- BEGIN: Bình luận -->
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active cmm"><a href="#comment_facebook" aria-controls="comment_facebook"
            role="tab" data-toggle="tab">Danh sách bình luận</a></li>
        <li role="presentation" class=" cmm"><a href="#comment" aria-controls="comment" role="tab"
            data-toggle="tab">Bình luận</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content bg-white pt10">
        <div role="tabpanel" class="tab-pane fade in active" id="comment_facebook">
            <div class="panel panel-success">
            <ul class="commentList">
                <li>
                <div class="commenterImage">
                    <img src="https://i.pinimg.com/736x/84/2d/8b/842d8b89b19eb5bb043fff71861a1282.jpg" height="65px;" />
                </div>
                <div class="commentText">
                    <div class="commentName">
                    <h5>Trạng Nguyên</h5>
                    <h6>29/04/2019</h6>
                    </div>
                    <p class="">Bài viết chi tiết.</p>
                </div>
                </li>
                <li>
                <div class="commenterImage">
                    <img src="https://i.pinimg.com/236x/07/2c/a4/072ca41076bacd4b2fd76d36a77cd821.jpg" height="65px;" />
                </div>
                <div class="commentText">
                    <div class="commentName">
                    <h5>Vân Anh</h5>
                    <h6>30/04/2019</h6>
                    </div>
                    <p class="">Bài viết rất hay.</p>
                </div>
                </li>
                <li>
                <div class="commenterImage">
                    <img
                    src="http://sohanews.sohacdn.com/thumb_w/660/2017/photo-1-1508055238841-117-0-514-640-crop-1508055269606.jpg"
                    height="65px;" />
                </div>
                <div class="commentText">
                    <div class="commentName">
                    <h5>Tuấn Ngọc</h5>
                    <h6>02/05/2019</h6>
                    </div>
                    <p class="">Thông tin hữu ích.</p>
                </div>
                </li>
            </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="comment">
            <!-- BEGIN:COMMENTS -->
            <script src="#"></script>
            <section class="comments-box">
            <form class="frm-comment">
                <div class="panel panel-success">
                <header class="panel-heading">
                    <h3 class="panel-title font-2">Ý kiến của bạn <sup><i class="fa fa-comment-o"></i></sup></h3>
                </header>
                <div class="panel-body">
                    <textarea class="txtComment form-control required_c" id="c_content_27494" name="c_content" rows="5"
                    placeholder="Nội dung"></textarea>
                    <br><input type="text" class="form-control required_c" placeholder="Họ tên" name="c_name"
                    id="c_name_27494" style="display: none;"><br>
                    <input type="email" class="form-control required_c" placeholder="Email" name="c_email"
                    id="c_email_27494" style="display: none;">
                    <script>
                    $(document).ready(function () {
                        $("#c_name_27494,#c_email_27494").slideUp();
                        var c_content = document.getElementById('c_content_27494');
                        c_content.onkeyup = c_content.onkeypress = function () {
                        var _val = this.value;
                        if (_val != '') {
                            $("#c_name_27494,#c_email_27494").slideDown();
                        } else {
                            $("#c_name_27494,#c_email_27494").slideUp();
                        }
                        }
                    });
                    </script>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-ico btn-sm btn-success ajSendComment" c_news="27494"><i class="fa fa-send-o"></i>
                    Gửi bình luận</a>
                </div>
                </div>
            </form>

            <div id="view_comment"></div>
            </section>
            <!-- END:COMMENTS -->
            <div id="view_comment"></div>
        </div>
        </div>
    </div>
    <!-- END: Bình luận -->

    <!-- BEGIN: Tin cùng chuyên mục -->
    <div class="tab_item">
        <div class="panel panel-success">
        <hgroup class="panel-heading">
            <ul class="list-inline mb0 ">
            <style>
            </style>
            <li class="active">
                <a href="#" title="Tin cùng chuyên mục">
                <h2 class="font-bold">Tin cùng chuyên mục</h2>
                </a>
            </li>

            </ul>
        </hgroup>
        <article class="panel-body">
            <div class="row-7 flex-wrap">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                <article class="media mb7 bb-dashed">
                <figure class="article-thumb-img">
                    <a href="TrangChiTietThoiSu.html" title="Phát triển HTX kiểu mới: Chính sách đã đầy đủ, cần làm ngay"
                    class="fixhieght height150"><img
                        src="http://baochinhphu.vn/Uploaded/nguyenxuanhong/2019_04_15/NQH05169.jpg"
                        alt="Phát triển HTX kiểu mới: Chính sách đã đầy đủ, cần làm ngay" width="100%"
                        height="150px;"></a>

                </figure>
                <header class="article-thumb-header mt5 mb5">
                    <a href="TrangChiTietThoiSu.html" title="Phát triển HTX kiểu mới: Chính sách đã đầy đủ, cần làm ngay">
                    <h4 class="fs-1 mb0">Phát triển HTX kiểu mới: Chính sách đã đầy ...</h4>
                    </a>
                    <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-16 21:21:01"><i
                            class="fa fa-clock-o" aria-hidden="true"></i>21:21 - <i class="fa fa-calendar"
                            aria-hidden="true"></i>Thứ ba, 16/04/2019</time></span></small>
                </header>
                </article>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                <article class="media mb7 bb-dashed">
                <figure class="article-thumb-img">
                    <a href="TrangChiTietThoiSu.html" title="Trung Quốc siết đường tiểu ngạch, lo rau quả bí đầu ra"
                    class="fixhieght height150"><img
                        src="https://photo-3-baomoi.zadn.vn/w700_r1/2019_04_25_87_30481448/259ef33e2d7fc4219d6e.jpg"
                        alt="Trung Quốc siết đường tiểu ngạch, lo rau quả bí đầu ra" width="100%" height="150px;"></a>

                </figure>
                <header class="article-thumb-header mt5 mb5">
                    <a href="TrangChiTietThoiSu.html" title="Trung Quốc siết đường tiểu ngạch, lo rau quả bí đầu ra">
                    <h4 class="fs-1 mb0">Trung Quốc siết đường tiểu ngạch, lo rau quả ...</h4>
                    </a>
                    <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-15 10:41:17"><i
                            class="fa fa-clock-o" aria-hidden="true"></i>10:41 - <i class="fa fa-calendar"
                            aria-hidden="true"></i>Thứ hai, 15/04/2019</time></span></small>
                </header>
                </article>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                <article class="media mb7 bb-dashed">
                <figure class="article-thumb-img">
                    <a href="TrangChiTietThoiSu.html" title="Hội quán: Ngôi nhà chung của nông dân Đồng Tháp"
                    class="fixhieght height150"><img
                        src="http://kinhtenongthon.vn/media/news/4fd16173b1e193820f5998c6b884a438/2.JPG"
                        alt="Hội quán: Ngôi nhà chung của nông dân Đồng Tháp" width="100%" height="150px;"></a>

                </figure>
                <header class="article-thumb-header mt5 mb5">
                    <a href="TrangChiTietThoiSu.html" title="Hội quán: Ngôi nhà chung của nông dân Đồng Tháp">
                    <h4 class="fs-1 mb0">Hội quán: Ngôi nhà chung của nông dân Đồng Tháp</h4>
                    </a>
                    <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-13 22:04:00"><i
                            class="fa fa-clock-o" aria-hidden="true"></i>22:04 - <i class="fa fa-calendar"
                            aria-hidden="true"></i>Thứ bảy, 13/04/2019</time></span></small>
                </header>
                </article>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                <article class="media mb7 bb-dashed">
                <figure class="article-thumb-img">
                    <a href="TrangChiTietThoiSu.html" title="Sự kiện 24/7: Tuần quá nhiều những vụ tai nạn thương tâm"
                    class="fixhieght height150"><img
                        src="http://kinhtenongthon.vn/media/news/440bcbe45a6a4e361b606228f0c86365/thumb/khu-du-lich-thac-bac-suoi-sao-ngang-nhien-pha-vo-quy-hoach-ss1-thumb43.jpg"
                        alt="Sự kiện 24/7: Tuần quá nhiều những vụ tai nạn thương tâm" width="100%" height="150px;"></a>

                </figure>
                <header class="article-thumb-header mt5 mb5">
                    <a href="TrangChiTietThoiSu.html" title="Sự kiện 24/7: Tuần quá nhiều những vụ tai nạn thương tâm">
                    <h4 class="fs-1 mb0">Sự kiện 24/7: Tuần quá nhiều những vụ tai ...</h4>
                    </a>
                    <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-13 12:05:28"><i
                            class="fa fa-clock-o" aria-hidden="true"></i>12:05 - <i class="fa fa-calendar"
                            aria-hidden="true"></i>Thứ bảy, 13/04/2019</time></span></small>
                </header>
                </article>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                <article class="media mb7 bb-dashed">
                <figure class="article-thumb-img">
                    <a href="TrangChiTietThoiSu.html" title="Phát triển HTX kiểu mới: Chính sách đã đầy đủ, cần làm ngay"
                    class="fixhieght height150"><img
                        src="http://kinhtenongthon.vn/media/news/59683c94962309d7aad44074347a1deb/58378292_333424447370901_3305670430324424704_n.jpg"
                        alt="Phát triển HTX kiểu mới: Chính sách đã đầy đủ, cần làm ngay" width="100%"
                        height="150px;"></a>

                </figure>
                <header class="article-thumb-header mt5 mb5">
                    <a href="TrangChiTietThoiSu.html" title="Phát triển HTX kiểu mới: Chính sách đã đầy đủ, cần làm ngay">
                    <h4 class="fs-1 mb0">Phát triển HTX kiểu mới: Chính sách đã đầy ...</h4>
                    </a>
                    <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-16 21:21:01"><i
                            class="fa fa-clock-o" aria-hidden="true"></i>21:21 - <i class="fa fa-calendar"
                            aria-hidden="true"></i>Thứ ba, 16/04/2019</time></span></small>
                </header>
                </article>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                <article class="media mb7 bb-dashed">
                <figure class="article-thumb-img">
                    <a href="TrangChiTietThoiSu.html" title="Trung Quốc siết đường tiểu ngạch, lo rau quả bí đầu ra"
                    class="fixhieght height150"><img
                        src="http://baochinhphu.vn/Uploaded/nguyenxuanhong/2019_04_15/Hai%20thu%20tuong%20chung%20kien%20Le%20ky%20Ban%20ghi%20nho%20hop%20tac%20giua%20Bo%20Nong%20nghiep%20va%20Phat%20trien%20nong%20thon%202%20nuoc%20.jpg"
                        alt="Trung Quốc siết đường tiểu ngạch, lo rau quả bí đầu ra" width="100%" height="150px;"></a>

                </figure>
                <header class="article-thumb-header mt5 mb5">
                    <a href="TrangChiTietThoiSu.html" title="Trung Quốc siết đường tiểu ngạch, lo rau quả bí đầu ra">
                    <h4 class="fs-1 mb0">Trung Quốc siết đường tiểu ngạch, lo rau quả ...</h4>
                    </a>
                    <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-15 10:41:17"><i
                            class="fa fa-clock-o" aria-hidden="true"></i>10:41 - <i class="fa fa-calendar"
                            aria-hidden="true"></i>Thứ hai, 15/04/2019</time></span></small>
                </header>
                </article>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                <article class="media mb7 bb-dashed">
                <figure class="article-thumb-img">
                    <a href="TrangChiTietThoiSu.html" title="Hội quán: Ngôi nhà chung của nông dân Đồng Tháp"
                    class="fixhieght height150"><img
                        src="http://baochinhphu.vn/Uploaded/dangdinhnam/2019_04_06/NQH00487.jpg"
                        alt="Hội quán: Ngôi nhà chung của nông dân Đồng Tháp" width="100%" height="150px;"></a>

                </figure>
                <header class="article-thumb-header mt5 mb5">
                    <a href="TrangChiTietThoiSu.html" title="Hội quán: Ngôi nhà chung của nông dân Đồng Tháp">
                    <h4 class="fs-1 mb0">Hội quán: Ngôi nhà chung của nông dân Đồng Tháp</h4>
                    </a>
                    <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-13 22:04:00"><i
                            class="fa fa-clock-o" aria-hidden="true"></i>22:04 - <i class="fa fa-calendar"
                            aria-hidden="true"></i>Thứ bảy, 13/04/2019</time></span></small>
                </header>
                </article>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                <article class="media mb7 bb-dashed">
                <figure class="article-thumb-img">
                    <a href="TrangChiTietThoiSu.html" title="Sự kiện 24/7: Tuần quá nhiều những vụ tai nạn thương tâm"
                    class="fixhieght height150"><img
                        src="http://kinhtenongthon.vn/media/news/fdc1cc1ffc5fda8244ff5c49cc8aa57a/thumb/su-kien-247-evn-ly-giai-vi-sao-tien-dien-thang-4-tang-vot-dien-thumb43.JPG"
                        alt="Sự kiện 24/7: Tuần quá nhiều những vụ tai nạn thương tâm" width="100%" height="150px;"></a>

                </figure>
                <header class="article-thumb-header mt5 mb5">
                    <a href="TrangChiTietThoiSu.html" title="Sự kiện 24/7: Tuần quá nhiều những vụ tai nạn thương tâm">
                    <h4 class="fs-1 mb0">Sự kiện 24/7: Tuần quá nhiều những vụ tai ...</h4>
                    </a>
                    <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-13 12:05:28"><i
                            class="fa fa-clock-o" aria-hidden="true"></i>12:05 - <i class="fa fa-calendar"
                            aria-hidden="true"></i>Thứ bảy, 13/04/2019</time></span></small>
                </header>
                </article>
            </div>
            </div>
        </article>
        </div>
    </div>
    <!-- END: Tin cùng chuyên mục -->
    <style>
        li.links-ads:before {
        content: 'Tài trợ';
        background: #5cb85c;
        color: #fff;
        padding: 2px;
        border-radius: 5px;
        margin-right: 5px;
        font-size: 12px;
        }
    </style>
    </div>
    <!-- END -->
    <div class="hidden-xs hidden-sm col-sm-3 col-md-3 col-lg-3-right ">
    <div class="model_right">
        <!-- BEGIN: Tin nhiều người đọc -->
        <div class="model_right">
        <div class="banner hidden righthome1" fix=""></div>

        <div class="panel panel-info">
            <div class="panel-heading panel-item text-center font-bold">
            <a title="Tin nhiều người đọc">Tin nhiều người đọc</a>
            </div>
            <div class="panel-body">

            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                <img src="http://baochinhphu.vn/Uploaded/nguyenxuanhong/2019_04_15/NQH05169.jpg"
                    alt="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html"
                    title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                    <h4 class="fs-1 mall0">Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm! </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:07:00"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:07 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                <img
                    src="http://kinhtenongthon.vn/media/news/440bcbe45a6a4e361b606228f0c86365/thumb/khu-du-lich-thac-bac-suoi-sao-ngang-nhien-pha-vo-quy-hoach-ss1-thumb43.jpg"
                    alt="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html"
                    title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                    <h4 class="fs-1 mall0">Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm! </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:07:00"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:07 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                <img src="https://nld.mediacdn.vn/2019/4/14/thanh-long-2-1555249085124284993133.jpg"
                    alt="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html"
                    title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                    <h4 class="fs-1 mall0">Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm! </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:07:00"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:07 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                <img src="https://photo-3-baomoi.zadn.vn/w700_r1/2019_04_25_87_30481448/259ef33e2d7fc4219d6e.jpg"
                    alt="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html"
                    title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                    <h4 class="fs-1 mall0">Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm! </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:07:00"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:07 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                <img src="http://baochinhphu.vn/Uploaded/nguyenxuanhong/2019_04_15/NQH05216_copy.jpg"
                    alt="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html"
                    title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                    <h4 class="fs-1 mall0">Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm! </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:07:00"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:07 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                <img src="http://kinhtenongthon.vn/media/news/4fd16173b1e193820f5998c6b884a438/2.JPG"
                    alt="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html"
                    title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                    <h4 class="fs-1 mall0">Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm! </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:07:00"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:07 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                <img
                    src="http://kinhtenongthon.vn/media/news/59683c94962309d7aad44074347a1deb/58378292_333424447370901_3305670430324424704_n.jpg"
                    alt="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html"
                    title="Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm!">
                    <h4 class="fs-1 mall0">Phường Mỹ Đình 1: Cán bộ quản lý địa bàn xin cho công trình vi phạm! </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:07:00"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:07 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Lê Đức Anh – một người sâu sắc và bình dị">
                <img
                    src="http://baochinhphu.vn/Uploaded/nguyenxuanhong/2019_04_15/Hai%20thu%20tuong%20chung%20kien%20Le%20ky%20Ban%20ghi%20nho%20hop%20tac%20giua%20Bo%20Nong%20nghiep%20va%20Phat%20trien%20nong%20thon%202%20nuoc%20.jpg"
                    alt="Lê Đức Anh – một người sâu sắc và bình dị">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html" title="Lê Đức Anh – một người sâu sắc và bình dị">
                    <h4 class="fs-1 mall0">Lê Đức Anh – một người sâu sắc và bình dị </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:12:00"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:12 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Thủ tướng: Chúng ta tự tin tiến lên hội nhập quốc tế">
                <img
                    src="http://kinhtenongthon.vn/media/news/d2b36aae8e6dba855dd0ab395058a493/thumb/thu-tuong-chung-ta-tu-tin-tien-len-hoi-nhap-quoc-te-nqh08120-thumb11.jpg"
                    alt="Thủ tướng: Chúng ta tự tin tiến lên hội nhập quốc tế">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html" title="Thủ tướng: Chúng ta tự tin tiến lên hội nhập quốc tế">
                    <h4 class="fs-1 mall0">Thủ tướng: Chúng ta tự tin tiến lên hội nhập quốc tế </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:39:57"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:39 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            <div class="media bb-dashed mt0 pb7 mb7">
                <a class="pull-left fix-image-11" href="TrangChiTietAnNinhTratTu.html"
                title="Hà Nội: “Bàn tròn” liên kết phát triển nông nghiệp bền vững">
                <img
                    src="http://kinhtenongthon.vn/cache/news/ha-noi-ban-tron-lien-ket-phat-trien-nong-nghiep-ben-vung-img_56671-thumb11.jpg"
                    alt="Hà Nội: “Bàn tròn” liên kết phát triển nông nghiệp bền vững">
                </a>

                <div class="media-body">
                <a href="TrangChiTietAnNinhTratTu.html"
                    title="Hà Nội: “Bàn tròn” liên kết phát triển nông nghiệp bền vững">
                    <h4 class="fs-1 mall0">Hà Nội: “Bàn tròn” liên kết phát triển nông nghiệp bền vững </h4>
                </a>
                <small class="meta text-muted"><span><time class="friendly" datetime="2019-04-23 09:50:20"><i
                        class="fa fa-clock-o" aria-hidden="true"></i>09:50 - <i class="fa fa-calendar"
                        aria-hidden="true"></i>Thứ ba, 23/04/2019</time></span></small>
                </div>
            </div>
            </div>
            <!-- END: Tin nhiều người đọc -->
        </div>
        </div>
        <!-- END: Tin nhiều người đọc -->
    </div>
    </div>
    <!-- END: Tin nhiều người đọc -->
</section>
<!-- END -->
</main>
<!-- END-MAIN -->


</div>
<!--  BEGIN: THÔNG TIN LIÊN HỆ -->
  <footer style="position: relative;">
    <div class="bg-white bb-solid pt15 pb15" style="background: #a71f1ff0; padding:4px 0; color: white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1><strong>Báo điện tử TH16_NEWS</strong></h1>
            Tổng biên tập: <strong>NGUYỄN ANH TUẤN</strong><br>
            Phó tổng biên tập phụ trách nội dung: <strong>TRẦN THỊ HỒNG THẮM</strong><br>
            Cơ quan chủ quản: Hội Làm vườn Việt Nam (VACVINA)<br>
            Giấy phép hoạt động báo điện tử số <b>294/GP-BTTTT</b> do Bộ trưởng Bộ Thông tin và Truyền thông cấp ngày 23/6/2017 - ISSN 1859-2456.         
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <address class="text-right mb0">
              <div class="hidden-xs"><a href="#"><img src="img/logo.png" alt="Báo Kinh Tế Nông Thôn" width="120px"></a></div>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Gửi Mail" title=""><i class="fa fa-envelope-o"></i> E-Mail:</abbr> <a href="#">th16News@gmail.com</a> -  <a href="#">toasoanTh16News@gmail.vn</a><br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Di động" title=""><i class="fa fa-mobile"></i> Di động:</abbr> 0909 009 009 <br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Tòa soạn" title=""><i class="fa fa-building-o"></i> Tòa soạn:</abbr> 227 Nguyễn Văn Cừ, Quận 5, TP. HCM 
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: THÔNG TIN LIÊN HỆ -->
  <div id="my_popup">
    <div class="my_popup_content"></div>
  </div>
  <div style="position: absolute; top: 0px;">
  </div>

  <div id="backtotop" title="Lên đầu trang"><i class="fa fa-angle-double-up"></i></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

