<!DOCTYPE html>
<html>
<head>
  <!-- Basic Page Needs =====================================-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <!-- Site Title- -->
  <title>TH16-News Online</title>

  <link rel="stylesheet" href="css/style1.css">
  <link rel="stylesheet" href="css/style2.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/signup.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script type="text/javascript">
    history.pushState(null,null,location.href);
    window.onpopstate=function(){
      history.go(1);
    }
  </script>
</head>
<body>
      <!-- BEGIN: logo -->
  <div  class = "logo">
    <div class="container">
    <a href="home.html">
      <img class="logo" src="img/logo.png" alt="logo">
    </a>
    </div>
  </div>
  <!-- END: logo -->

  <!-- BEGIN:navbar menu -->
  <div class="menu">
	<nav class="navbar navbar-default sticky-top" role="navigation">
		<div class="container">	
			<div class="item_nav">
				 <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="left-menu">
          </ul>
          <ul class="nav navbar-nav navbar-justified">
            <!--  menu Thoi su  -->
            <li class="font-bold">
              <a class="dropdown-toggle" href="ThoiSuPage1.html">
                Thời sự
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="TinTuc.html" data-color="#d9534f" class="cat_c">Tin tức</a>
                </li>
                <li class="">
                  <a href="QuocHoi.html" data-color="#d9534f" class="cat_c">Quốc hội</a>
                </li>
              </ul>
            </li>
            <!--  menu Kinh tế  -->
            <li class="font-bold">
              <a class="dropdown-toggle" href="KinhTe.html">
                Kinh tế
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="KhuyenNong.html" data-color="#d9534f" class="cat_c">Khuyến nông</a>
                </li>
                <li class="">
                  <a href="DoanhNghiep.html" data-color="#d9534f" class="cat_c">Doanh nghiệp</a>
                </li>
              </ul>
            </li>
            <!--  menu Nhịp sống  -->
            <li class="  font-bold">
              <a class="dropdown-toggle" href="NhipSong.html">
                Nhịp sống
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="AnNinhTratTu.html" data-color="#d9534f" class="cat_c">An ninh trật tự</a>
                </li>
                <li class="">
                  <a href="DoiSong.html" data-color="#d9534f" class="cat_c">Đời sống</a>
                </li>
              </ul>
            </li>
            <!--  menu Bất động sản  -->
            <li class="  font-bold">
              <a class="dropdown-toggle" href="BatDongSan.html">
                Bất động sản
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="ThiTruong.html" data-color="#d9534f" class="cat_c">Thị trường</a>
                </li>
                <li class="">
                  <a href="PhanTichNhanDinh.html" data-color="#d9534f" class="cat_c">Phân tích - Nhận định</a>
                </li>
              </ul>
            </li>
            <!--  menu Xã hội  -->
            <li class="  font-bold">
              <a class="dropdown-toggle" href="XaHoi.html">
                Xã hội
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="PhongSuKiSu.html" data-color="#d9534f" class="cat_c">Phóng sự - kí sự</a>
                </li>
                <li class="">
                  <a href="XaHoiTuThien.html" data-color="#d9534f" class="cat_c">Xã hội từ thiện</a>
                </li>
              </ul>
            </li>
            <!--  menu Pháp luật  -->
            <li class="  font-bold">
              <a class="dropdown-toggle" href="PhapLuat.html">
                Pháp luật
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="TuVan.html" data-color="#d9534f" class="cat_c">Tư vấn</a>
                </li>
                <li class="">
                  <a href="VanBanMoi.html" data-color="#d9534f" class="cat_c">Văn bản mới</a>
                </li>
              </ul>
            </li>
            <!--  menu Sức khỏe  -->
            <li class="  font-bold">
              <a class="dropdown-toggle" href="SucKhoe.html">
                Sức khỏe
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="AnToanVeSinhThucPham.html" data-color="#d9534f" class="cat_c">An toàn vệ sinh thực phẩm</a>
                </li>
                <li class="">
                  <a href="SongKhoe.html" data-color="#d9534f" class="cat_c">Sống khỏe</a>
                </li>
              </ul>
            </li>
          </ul>
          </div>

          <div class="right-menu">
          <ul class="nav navbar-nav navbar-justified">
              <!-- icon login  -->
            <li class="login_icon">
              <a href="#"  data-toggle="modal" data-target="#loginModal">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
              </a>
            </li>
            <!-- icon search  -->
           <li class="search_ hidden-xs hidden-sm">
              <a href="#" class="color_fff " id="toggle-search">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
              
            </li>
         <div class="div_search sr_none" style="height: 60px;margin-top: 1px">
                <form method="get" action="#" class="formsearch hidden-xs hidden-sm" id="search-form">
                  <div class="search_fm">
                    <input type="search" class="form-control" id="ip_search" name="key" placeholder="Tìm kiếm" value="">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </form>
              </div>

          </div>
        </div>
				<div class="claerfix"></div>
			</div>
		</div>
	</nav>
</div>
  <!-- END:navbar menu -->
  <!-- Modal login-->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <h2 style="font-size: 30px;">Đăng nhập</h2>

        <div class="container loginbody">
          <form>
            <div class="loginrow">

              <div class="logincol logininput">         
                <input type="text" name="username" placeholder="Tên đăng nhập" required>
                <input type="password" name="password" placeholder="Mật khẩu" required>
                <div class="forgotpassword"><a href="#"><i>Quên mật khẩu?</i></a></div>
                <div class="displayrow">
                  <a href="#" class="fb btnLogin socialmedia">
                    <i class="fa fa-facebook fa-fw"></i>Facebook
                  </a>
                  <a href="#" class="google btnLogin socialmedia">
                    <i class="fa fa-google fa-fw"></i>Google+
                  </a>
                  <input type="submit" value="Đăng nhập">
                </div>
              </div>

            </div>
          </form>
        </div>
        <p class="centertext">Bạn chưa có tài khoản?
          <a href="#" data-toggle="modal" data-target="#signupModal"><strong>Đăng kí</strong></a> ngay.
        </p>
      </div>

    </div>
  </div>
  <!-- Modal signup-->
  <div class="modal fade" id="signupModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <h2 style="font-size: 30px;">Đăng kí tài khoản</h2>

        <div class="container signupbody">
          <form>
            <div class="signuprow">              
              <div class="signupcol"> 
                <label for="username">Tên đăng nhập</label>     
                <input type="text" name="username"required>
                <label for="name">Họ và tên</label>
                <input type="text" name="name" required>
                <label for="password">Mật khẩu</label>
                <input type="password" name="password"  required>
                <label for="repassword">Nhập lại mật khẩu</label>
                <input type="password" name="repassword" required>
                <input type="checkbox" name="agree">Tôi đồng ý với quy định của toàn soạn.<br>
                <input type="submit" value="Đăng kí">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    {{{body}}}

  <!--  BEGIN: THÔNG TIN LIÊN HỆ -->
  <footer style="position: relative;">
    <div class="bg-white bb-solid pt15 pb15">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1><strong>Báo điện tử TH16_NEWS</strong></h1>
            Tổng biên tập: <strong>NGUYỄN ANH TUẤN</strong><br>
            Phó tổng biên tập phụ trách nội dung: <strong>TRẦN THỊ HỒNG THẮM</strong><br>
            Cơ quan chủ quản: Hội Làm vườn Việt Nam (VACVINA)<br>
            Giấy phép hoạt động báo điện tử số <b>294/GP-BTTTT</b> do Bộ trưởng Bộ Thông tin và Truyền thông cấp ngày 23/6/2017 - ISSN 1859-2456.         
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <address class="text-right mb0">
              <div class="hidden-xs"><a href="#"><img src="img/logo.png" alt="Báo Kinh Tế Nông Thôn" width="120px"></a></div>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Gửi Mail" title=""><i class="fa fa-envelope-o"></i> E-Mail:</abbr> <a href="#">th16News@gmail.com</a> -  <a href="#">toasoanTh16News@gmail.vn</a><br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Di động" title=""><i class="fa fa-mobile"></i> Di động:</abbr> 0909 009 009 <br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Tòa soạn" title=""><i class="fa fa-building-o"></i> Tòa soạn:</abbr> 227 Nguyễn Văn Cừ, Quận 5, TP. HCM 
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: THÔNG TIN LIÊN HỆ -->
  <div id="my_popup">
    <div class="my_popup_content"></div>
  </div>
  <div style="position: absolute; top: 0px;">
  </div>

  <div id="backtotop" title="Lên đầu trang"><i class="fa fa-angle-double-up"></i></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/jQuery.js"></script>
    <script src="js/js.js"></script>
</body>
</html>