<!DOCTYPE html>
<html>
<head>
  <!-- Basic Page Needs =====================================-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Site Title- -->
  <title>TH16-News Online</title>

  <link rel="stylesheet" href="css/style1.css">
  <link rel="stylesheet" href="css/style2.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/signup.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="js/jQuery.js"></script>


  <script type="text/javascript">
    history.pushState(null,null,location.href);
    window.onpopstate=function(){
      history.go(1);
    }
  </script>
</head>
<body>
    {{{body}}}
    <script src="js/js.js"></script>
</body>
</html>