<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    <div class="form-group">
                        <label for="txtName">Username</label>
                        <input required type="text" class="form-control" id="txtName" name="Username" autofocus
                            placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Password</label>
                        <input required type="text" class="form-control" id="txtName" name="Password" autofocus
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Họ Tên</label>
                        <input required type="text" class="form-control" id="txtName" name="Name" autofocus placeholder="Họ Tên">
                    </div>
                    <div class="form-group">
                        <label for="txtCatParentName">Loại người dùng</label>
                        <select class="form-control" name="User_Cat_Name">
                            <option value="Admin">Admin</option>
                            <option value="Subcriber" selected>Subcriber</option>
                            <option value="Editor">Editor</option>
                            <option value="Writter">Writter</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image_uploads">Avatar</label>
                        <input required type="text" class="form-control" id="txtName" name="Avatar" autofocus
                            placeholder="Đường dẫn online avatar">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Số điện thoại</label>
                        <input type="text" class="form-control" id="txtName" name="Phone" autofocus
                            placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Email</label>
                        <input required type="text" class="form-control" id="txtName" name="Email" autofocus placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Địa chỉ</label>
                        <input type="text" class="form-control" id="txtName" name="Address" autofocus
                            placeholder="Địa chỉ">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Ngày cấp</label>
                        <input required type="date" class="form-control" id="txtName" name="Day_Issuance" autofocus
                            placeholder="Ngày cấp">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Ngày bắt đầu gia hạn</label>
                        <input required type="date" class="form-control" id="txtName" name="NgayGiaHan" autofocus
                            placeholder="Ngày gia hạn">
                    </div>
                     <div class="form-group">
                        <a class="btn btn-primary" href="/admin/quanlynguoidung" role="button">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Quay lại danh sách
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Lưu lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- .animated -->
</div>