<!doctype html>
<html lang="en">

<head>
  <!-- Basic Page Needs =====================================-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Site Title- -->
  <title>Biên tập viên - Bài viết chưa duyệt chi tiết</title>

  <link rel="stylesheet" href="css/style1.css">
  <link rel="stylesheet" href="css/style2.css">
  <link rel="stylesheet" href="css/editor.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="js/jQuery.js"></script>

</head>
<body>
  <!-- BEGIN: logo -->
  <div  class = "logo">
    <a href="home.html">
      <img class="logo" src="img/logo.png" alt="logo">
    </a>
  </div>
  <!-- END: logo -->

  <!-- BEGIN:navbar menu -->
  <div >
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="top: 0px;">
      <div class="container"> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-justified">
            <li class="font-bold">
              <a href="home.html">
                Trang chủ
              </a>
            </li>
            <li class="font-bold">
              <a href="editor.html">
                Trang của bạn
              </a>
            </li>
            <li class="font-bold">
              <a class="dropdown-toggle" href="#">
                Chủ đề quản lý
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="editor_ThoiSu.html" data-color="#d9534f" class="cat_c">Thời sự</a>
                </li>
                <li class="">
                  <a href="editor_KhuyenNong.html" data-color="#d9534f" class="cat_c">Khuyến nông</a>
                </li>
                <li class="">
                  <a href="editor_DoanhNghiep.html" data-color="#d9534f" class="cat_c">Doanh nghiệp</a>
                </li>
              </ul>
            </li>
            <li class="font-bold">
              <a class="dropdown-toggle" href="#">
                Trạng thái
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="editor_BVCD.html" data-color="#d9534f" class="cat_c">Bài chưa duyệt</a>
                </li>
                <li class="">
                  <a href="editor_BVDD.html" data-color="#d9534f" class="cat_c">Bài đã duyệt</a>
                </li>
                <li class="">
                  <a href="editor_BVDTC.html" data-color="#d9534f" class="cat_c">Bài đã từ chối</a>
                </li>
                <li class="">
                  <a href="editor_BVDXB.html" data-color="#d9534f" class="cat_c">Bài đã xuất bản</a>
                </li>
              </ul>
            </li>

            <!-- icon search  -->
            <li class="search_ hidden-xs hidden-sm">
              <a href="#" class="color_fff " id="toggle-search">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
              
            </li>

            <div class="div_search sr_none" style="height: 60px;margin-top: 1px">
              <form method="get" action="#" class="formsearch hidden-xs hidden-sm" id="search-form">
                <div class="search_fm">
                  <input type="search" class="form-control" id="ip_search" name="key" placeholder="Tìm kiếm" value="">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </form>
            </div>

            <li class="font-bold">
              <a class="dropdown-toggle" href="#">
                <img src="img/avatar-editor.jpg" style="width: 33px; height: 33px;">
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="#" data-color="#d9534f" class="cat_c" style="border-bottom: 1px solid #ddd;">Cập nhật thông tin</a>
                </li>
                <li class="">
                  <a href="editor_BVCD.html" data-color="#d9534f" class="cat_c">Bài chưa duyệt</a>
                </li>
                <li class="">
                  <a href="editor_BVDD.html" data-color="#d9534f" class="cat_c">Bài đã duyệt</a>
                </li>
                <li class="">
                  <a href="editor_BVDTC.html" data-color="#d9534f" class="cat_c">Bài đã từ chối</a>
                </li>
                <li class="">
                  <a href="editor_BVDXB.html" data-color="#d9534f" class="cat_c" style="border-bottom: 1px solid #ddd;">Bài đã xuất bản</a>
                </li>
                <li class="">
                  <a href="#" data-color="#d9534f" class="cat_c">Đổi mật khẩu</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
   <!-- BEGIN-MAIN -->
  <div class="container">
    <main >
    <!-- BEGIN:ROW1 -->
      <section class="row">
      <!-- BEGIN:tin hot nhất -->
        <div class="editor_category text-center"><strong>Bài viết chưa duyệt</strong></div>
        <div class="border-around">
          <h class="editor_info_new">Chủ đề:</h>
          <h>Thời sự</h>
        </div>
          <p class="border-around">
            <h class="editor_info_new">Tags: </h>
            <span><a href="TrangChiTietThoiSu.html" title="Bộ Tư lệnh Quân đoàn 4">Bộ Tư lệnh Quân đoàn 4</a></span>,
            <span><a href="TrangChiTietThoiSu.html" title="hoạt động kết nghĩa">hoạt động kết nghĩa</a></span>,
            <span><a href="TrangChiTietThoiSu.html" title="quốc phòng toàn dân">quốc phòng toàn dân</a></span>,
            <span><a href="TrangChiTietThoiSu.html" title="Bộ Tư lệnh Quân đoàn 4">Bộ Tư lệnh Quân đoàn 4</a></span>,
            <span><a href="TrangChiTietThoiSu.html" title="hoạt động kết nghĩa">hoạt động kết nghĩa</a></span>,
            <span><a href="TrangChiTietThoiSu.html" title="quốc phòng toàn dân">quốc phòng toàn dân</a></span>.
          </p>
        <div class="border-around">
          <h class="editor_info_new">Thời gian nhận:</h>
          <small class="meta text-muted" style="font-size: 16px;">
            <span>
              <time class="friendly" datetime="2019-04-25 22:07:00">
                <i class="fa fa-clock-o" aria-hidden="true"></i>22:07 - 
                <i class="fa fa-calendar" aria-hidden="true"></i>Thứ năm, 25/04/2019
              </time>
            </span>
          </small>
        </div>
        <div class="border-around">
          <h2 class="editor_info_new">Nội dung: </h2>
        <div class="container" style="width: 95%">
          <div class="row ">   
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 detail_ct" style="width: 100%">
            <!-- BEGIN: Nội dung -->
              <article class="article-detail">
                <!-- Nếu type là hình ảnh -->
                <!-- Nếu type là video -->
                <!-- Bài viết bình thường -->
                <p><strong>Trong đó, tạo chuỗi liên kết sản xuất, tiêu thụ… với doanh nghiệp đầu tàu dẫn dắt được cho là khả thi.</strong></p>
              </article>
              <!-- END: Nội dung -->
              <div class="article-bottom">
                <div class="authors text-right font-bold">
                  <i class="fa fa-pencil"></i> Vân Nhi                
                </div>
                <hr>            
              </div>                
            </div>
          </div>
        </div>
      </div>
      <div class="editor_browse_news">
        <button type="button" data-toggle="modal" data-target="#BrowseModal">Duyệt bài</button>
        <button type="button" data-toggle="modal" data-target="#RefuseModal">Từ chối</button>
      </div>
    </main>
  </div>
  <!-- END:main -->
  <!--  BEGIN: Modal refuse-->
  <div class="modal fade" id="RefuseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="refuse-modal">
          <div class="refuse-form container">
            <form>
              <label for="reason" style="font-size: 18px;">Lý do từ chối:</label>     
              <input type="text" name="reason"required>
              <div class="refuse-button">
                <input type="submit" value="Xong">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  END: Modal refuse -->
  <!--  BEGIN: Modal browse-->
  <div class="modal fade" id="BrowseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <h2 style="font-size: 30px;">Hiệu chỉnh thông tin</h2>

        <div class="browse-modal">
          <form> 
            <div class="browse-form container">
              <label for="category">Chuyên mục</label>     
              <input type="text" name="category"required>
              <label for="tags">Tags:</label>
              <input type="text" name="tags" required>
              <label for="datetime">Ngày xuất bản</label>
              <input type="datetime" name="datetime"  required>
              <div class="browse-button">
                <input type="submit" value="Duyệt">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--  END: Modal browse -->
  <!--  BEGIN: THÔNG TIN LIÊN HỆ -->
  <footer style="position: relative;">
    <div class="bg-white bb-solid pt15 pb15" style="background: #d9534f;color: white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1><strong>Báo điện tử TH16_NEWS</strong></h1>
            Tổng biên tập: <strong>NGUYỄN ANH TUẤN</strong><br>
            Phó tổng biên tập phụ trách nội dung: <strong>TRẦN THỊ HỒNG THẮM</strong><br>
            Cơ quan chủ quản: Hội Làm vườn Việt Nam (VACVINA)<br>
            Giấy phép hoạt động báo điện tử số <b>294/GP-BTTTT</b> do Bộ trưởng Bộ Thông tin và Truyền thông cấp ngày 23/6/2017 - ISSN 1859-2456.         
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <address class="text-right mb0">
              <div class="hidden-xs"><a href="#"><img src="img/logo.png" alt="Báo Kinh Tế Nông Thôn" width="120px"></a></div>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Gửi Mail" title=""><i class="fa fa-envelope-o"></i> E-Mail:</abbr> <a href="#">th16News@gmail.com</a> -  <a href="#">toasoanTh16News@gmail.vn</a><br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Di động" title=""><i class="fa fa-mobile"></i> Di động:</abbr> 0909 009 009 <br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Tòa soạn" title=""><i class="fa fa-building-o"></i> Tòa soạn:</abbr> 227 Nguyễn Văn Cừ, Quận 5, TP. HCM 
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: THÔNG TIN LIÊN HỆ -->
  <div id="backtotop" title="Lên đầu trang"><i class="fa fa-angle-double-up"></i></div>
  <script type="text/javascript" src="js/js.js"></script>
</body>
</html>  