.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:53px;
    margin-left:6px;
    height:50px;
    float:left;
}
.commenterImage img {
    width:100%;
    padding-top: 11px;
}
.commentText {
    padding-left: 15px;
}
.sub-text {
    color:#aaa;
    font-size:11px;
}

.commentName{
    display: flex;
    justify-content:space-between;
    width: 220px;
}