
* {
	box-sizing: border-box;
}

/* style the container */
.loginbody {
	width: 100%;
	position: relative;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px 0 30px 0;
} 
		
.displayrow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.forgotpassword{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 16px;
}

.forgotpassword a{
		color: #337ab7;
}

/* .socialmedia{
	width: 25%;
} */
/* style inputs and link buttons */
.logininput input,
.btnLogin {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	margin: 8px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none; /* remove underline from anchors */
}

.logininput input:hover,
.btnLogin:hover {
	opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
	background-color: #3B5998;
	color: white;
	width: 30%;
}

.google {
	background-color: #dd4b39;
	color: white;
	width: 30%;
}

/* style the submit button */
.logininput input[type=submit] {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	width: 30%;
}

.logininput input[type=submit]:hover {
	background-color: #45a049;
}

/* Two-column layout */
.logincol {
	width: 90%;
	margin: auto;
	padding: 0 50px;
	margin-top: 6px;
}

/* Clear floats after the columns */
.loginrow:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
	.logincol {
		width: 100%;
		margin-top: 0;
	}
}

.centertext{
	text-align: center;
	font-size: 16px;
}

.centertext a{
	color: #337ab7;
}

.login_icon:hover{
	background-color: #ff0000
}
.navbar-default .navbar-nav>.login_icon>a{
	padding-left: 20px;
}

#toggle-search{
	padding-left: 20px;
}