.container{
	max-width: 1280px !important;
    width: 100% !important;
}
div.logo{
    width: 100%;
    background-color: #d9534f;
}

img.logo{
    height: 90px !important;
	width: 165px !important;
}

.grid-feature-item .title_top_header a{
	color:#fff;
	font-size:20px !important
}

.grid-feature-item .title_top_header{
	padding:5px 15px !important;
    background:-webkit-linear-gradient(rgba(82,113,196,0), rgba(51,122,183,.30196078431372547), rgba(51,122,183,.35)) !important;
    background:-o-linear-gradient(rgba(82,113,196,0), rgba(51,122,183,.30196078431372547), rgba(51,122,183,.35)) !important;
    background:linear-gradient(rgba(82,113,196,0), rgba(51,122,183,.30196078431372547), rgba(51,122,183,.35)) !important;
}

.grid-feature-item time{
	color:#fff;
	font-style:italic;
	font-size:12px
}

.grid-feature-item{
	overflow:hidden;
	position:relative
}

.grid-feature-item .title_top_header{
	position:absolute;
	bottom:0;
	width:100%;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(31,41,51,0)),color-stop(60%,rgba(0,0,0,.53)));
	background:-webkit-linear-gradient(top,rgba(31,41,51,0) 10%,rgba(0,0,0,.53) 60%);
	background:-o-linear-gradient(top,rgba(31,41,51,0) 10%,rgba(0,0,0,.53) 60%);
	background:linear-gradient(to bottom,rgba(31,41,51,0) 10%,rgba(0,0,0,.53) 60%);
	padding:0 15px
}

.grid-feature-item{
	margin-left:1px;
	margin-bottom:1px
}

div.tinhot .ovlhidd:nth-child(1) .grid-feature-item .title_top_header a{
	font-size:25px !important
}

.grid-feature-item:hover img{
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s
}

.grid-feature-item img{
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s
}

.small .grid-feature-item{
	height:225px
}

.large .grid-feature-item{
	height:451px
}

@media(max-width:991px){
	.hidden_991{display:none !important
	}

	.small .grid-feature-item{
		max-height:180px
	}

	.large .grid-feature-item{
		max-height:362px
	}

	.mobi_menu{
		position:absolute;
		max-height:500px;
		background:#f3f3f3;
		width:100%;
		z-index:1;
		overflow:auto;
		left:0
	}

	.formsearch{
		position:absolute;
		top:12px;
		width:50%;
		right:0;
		left:0;
		margin:auto
	}

	div.tinhot div.ovlhidd:nth-child(1){
		width:63%;
		float:left
	}

	div.tinhot div.ovlhidd:nth-child(2),div.tinhot div.ovlhidd:nth-child(3){
		width:37%;float:left
	}

	div.tinhot div.ovlhidd:nth-child(6){
		display:none
	}
}

.grid-feature-item.small{
	max-height:168px
}

.grid-feature-item.large{
	max-height:337px
}

img,.bg_cover{
	-webkit-transition:all 1.5s;
	-o-transition:all 1.5s;
	transition:all 1.5s;
}

img:hover,.bg_cover:hover{
	-webkit-filter:brightness(120%) contrast(120%);
	filter:brightness(120%) contrast(120%)
}

.bg_cover{
	-size:cover;
	background-position:center;
	background-repeat:no-repeat
}

.tab_item>.panel>.panel-heading{
	background-color:transparent !important;
	padding:0;
	border:0;
	margin-bottom:2px
}

.tab_item>.panel-heading{
	-bottom:0
}

.tab_item>.panel{
	border:0;
	-webkit-box-shadow:none;
	box-shadow:none
}
.list-inline>li:before{
	content:"";
	border-left:1px solid #ddd;
	position:absolute;
	right:-1px;
	top:32%;
	height:40%
}

.tab_item>.list-inline>li.active a{
	color:#fff !important
}

.tab_item .list-inline li a{
	font-weight:700;
	color:#777
}

.list-inline>li.active{
	border-bottom:0;
	padding-left:10px;
	padding-right:13px;
	background:#D9534F;
	border-color:#D9534F;
}

.list-inline>li.active:before{
	width:100%;
	height:2px;
	background:#d9534f;
	bottom:-2px !important;
	top:auto;
	left:0;
	right:0;
	text-align:center;
	border:0 !important
}

.list-inline.tags-list>li:before{
	border-left:0
}

.list-inline{
	margin-left:0;
	border-bottom:2px solid #d9534f
}

.list-inline>li{
	padding-top:6px;
	padding-bottom:6px
}

.list-inline>li.active a {
    position: relative;
    color: #fff;
}

.social .list-inline>li:before{
	content:"";border-left:0
}

.list-inline>li {
    position: relative;
}

.list-inline>li:last-child:before{
	border:0
}

.tab_item>.panel .panel-body{
	padding:0 !important;
	padding-top:8px !important
}

@media (min-width:897px){
	.slide_topnews .item{
	height:380px !important
	}
	.images_list_host_{
	display:table-cell;
	vertical-align:middle
	}
	.list_img_video{
	height:160px
	}
	.footer_item{
	display:table-cell;
	vertical-align:middle
	}
}

.slide_topnews .carousel-control{
	background:rgba(0,0,0,.58);
	top:45%;
	visibility:hidden;
	-webkit-transition:visibility .5s,opacity .5s linear;
	-o-transition:visibility .5s,opacity .5s linear;
	transition:visibility .5s,opacity .5s linear;
	opacity:0
}

.slide_topnews:hover .carousel-control{
	visibility:visible;
	-webkit-transition:visibility 0s,opacity .8s linear;
	-o-transition:visibility 0s,opacity .8s linear;
	transition:visibility 0s,opacity .8s linear;
	opacity:1
}

.slide_topnews .carousel-caption{
	text-align:left;
	text-shadow:none;
	background:rgba(0,0,0,.44);
	width:100%;
	left:0;
	right:0;
	bottom:0;
	padding-left:15px
}

.slide_topnews .carousel-caption a{
	color:#fff;
	font-size:20px;
	text-decoration:none
}


.title_top10_category{
	background-color: #D9534F;
	text-align: center;
	height: 25px;
}

.title_top10_category a{
	color: #ffffff;
}

.images_360_small{
	width:90px;
	display:inline-block
}

.media-object {
    display: block;
}

.media{
	position:relative
}


#backtotop {
    display:none;
    overflow: hidden;
    position: fixed;
    bottom: 30px;
    background: #ff0000 !important;
    border-radius: 50%;
    border: 0;
    text-align: center;
    z-index: 9999;
}
#backtotop:hover {
    text-decoration:none;
    background: #ff0000 !important;
    cursor: pointer;
}
#backtotop .fa {
    width: 21px;
    height: 24px;
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    margin: auto;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    line-height: 21px;
}
#backtotop:hover .fa {
    animation: ScrolltoTop .8s linear infinite;
    -webkit-animation: ScrolltoTop .8s linear infinite;
}
@keyframes ScrolltoTop{
    0%      {bottom: -50px;}
    100%    {top: -50px}
}
@-webkit-keyframes ScrolltoTop{
    0%      {bottom: -50px;}
    100%    {top: -50px;}
}
@media(max-width:767px) {
    #backtotop {
        width: 30px;
        height: 30px;
        right: 0;
        border-radius: 4px 0 0 4px;
        background: rgba(66, 139, 202,.2);
    }
}
@media(min-width:768px) {
    #backtotop {
        width: 36px;
        height: 36px;
        right: 10px;
    }
}
@media(min-width:992px) {
    #backtotop {
        width: 39px;
        height: 39px;
        right: 10px;
    }
}
@media(min-width:1200px) {
    #backtotop {
        width: 50px;
        height: 50px;
        right: 15px;
    }
}

.panel-info>.panel-heading a{
	color:#ffffff;
	background-color:#D9534F;
	border-color:#D9534F
}

.list{
	margin-top: 10px;
	border-bottom:2px solid #ddd;
}

.tag_in_item {
    display: block;
    clear: both;
    background-color: white;
    padding: 8px 5px 0px 10px;
}

.tag_in_item a {
    color: #069!important;
    font-style: italic!important;
    font-weight: normal!important;
    font-size: 15px!important;
}

.blur>.menu~*{
	-webkit-filter:brightness(120%) contrast(120%) blur(10px);
	filter:brightness(120%) contrast(120%) blur(10px)
}

body.blur:after{
	content:'';
	position:fixed;
	background:#000;
	top:0;
	right:0;
	bottom:0;
	left:0;
	opacity:.2
}

.search_{
	text-align: center;
}
.login_icon{
	text-align: center;
}
.dropdown-toggle{
	text-align: left;
}

.badge{
    position: absolute;
    top: 0;
    height: 25px !important;
    width: 80px !important;
    z-index: 0;
    background-color: #f36600bf;
    color: black;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}
.badge:hover{
	background-color: #ff6d03;
}

.jumbotron{
	position: relative;
	z-index: -1;
}

.download{
	float: right;
    margin-right: 87px;
}
.download .badge{
    width: 87px !important;
    background-color: #55dc11ed;
    z-index: 0;
}
.download .badge:hover{
	background-color: #00ff38;
}

.dropdown .dropdown-toggle{
	text-align: center;
}
.userSub{
	text-align: center;
}


/* Modal */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.dropdown-menu{
	z-index: 1;
}

.nav>li{
	height: 95px !important;
}

.nav>li>a{
	font-size: 18px;
}

.nav>li>ul>li>a{
	font-size: 16px;
}