<main id="content" class="content">
    <div class="container">
        <header class="text-center font-2 mt15 mb15">
            <h1 style="font-size:2.1em">
                <small class="text-primary"><i class="fa fa-keyboard-o"></i> Từ khóa: </small>
                <span class="text-success">kinh tế</span>
            </h1>
        </header>
        <section>
            <div class="row box-list-news box-list-news_search">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/thu-tuong-phat-trien-doi-ngu-dn-de-xay-dung-nen-kinh-te-tu-cuong-post28521.html"
                                title="Thủ tướng: Phát triển đội ngũ DN để xây dựng nền kinh tế tự cường"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/08a1fbda444d0ed569626fdb23520d02/thumb/thu-tuong-phat-trien-doi-ngu-dn-de-xay-dung-nen-kinh-te-tu-cuong-ttg-thumb169.jpg"
                                    alt="Thủ tướng: Phát triển đội ngũ DN để xây dựng nền kinh tế tự cường"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/thu-tuong-phat-trien-doi-ngu-dn-de-xay-dung-nen-kinh-te-tu-cuong-post28521.html"
                                title="Thủ tướng: Phát triển đội ngũ DN để xây dựng nền kinh tế tự cường">
                                <h2 class="font-2 fs-12">Thủ tướng: Phát triển đội ngũ DN để xây dựng nền <mark>kinh
                                        tế</mark> tự cường</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/nhung-ty-phu-tu-vac-post28513.html"
                                title="Những tỷ phú từ VAC" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/nhung-ty-phu-tu-vac-tr4t-thumb169.JPG"
                                    alt="Những tỷ phú từ VAC" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/nhung-ty-phu-tu-vac-post28513.html"
                                title="Những tỷ phú từ VAC">
                                <h2 class="font-2 fs-12">Những tỷ phú từ VAC</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/hop-tac-trong-chanh-khong-hat-post28512.html"
                                title="Hợp tác trồng chanh không hạt" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/hop-tac-trong-chanh-khong-hat-tr4d-thumb169.jpg"
                                    alt="Hợp tác trồng chanh không hạt" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/hop-tac-trong-chanh-khong-hat-post28512.html"
                                title="Hợp tác trồng chanh không hạt">
                                <h2 class="font-2 fs-12">Hợp tác trồng chanh không hạt</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/trieu-doa-hoa-dang-bac-post28507.html"
                                title="Triệu đóa hoa dâng Bác" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/0f31cf4c07210e8d5460b43c17e11798/thumb/trieu-doa-hoa-dang-bac-tr8d-thumb169.jpg"
                                    alt="Triệu đóa hoa dâng Bác" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/trieu-doa-hoa-dang-bac-post28507.html"
                                title="Triệu đóa hoa dâng Bác">
                                <h2 class="font-2 fs-12">Triệu đóa hoa dâng Bác</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/day-dn-den-nguy-co-pha-santhuong-ton-phap-luatbi-xem-thuong-post28280.html"
                                title="Đẩy DN đến nguy cơ phá sản:&nbsp;Thượng tôn pháp luật&nbsp;bị xem thường!?"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/8483c7571af3b612e0c3538da027be95/thumb/day-dn-den-nguy-co-pha-santhuong-ton-phap-luatbi-xem-thuong-nmn-thumb169.jpg"
                                    alt="Đẩy DN đến nguy cơ phá sản:&nbsp;Thượng tôn pháp luật&nbsp;bị xem thường!?"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/day-dn-den-nguy-co-pha-santhuong-ton-phap-luatbi-xem-thuong-post28280.html"
                                title="Đẩy DN đến nguy cơ phá sản:&nbsp;Thượng tôn pháp luật&nbsp;bị xem thường!?">
                                <h2 class="font-2 fs-12">Đẩy DN đến nguy cơ phá sản:&nbsp;Thượng tôn pháp luật&nbsp;bị
                                    xem thường!?</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/pvfcco-lan-thu-5-vao-top-50-doanh-nghiep-niem-yet-tot-nhat-viet-nam-post28221.html"
                                title="PVFCCo lần thứ 5 vào Top 50 doanh nghiệp niêm yết tốt nhất Việt Nam"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/2752a6fc31927efaf4ff9f54b1c769cb/thumb/pvfcco-lan-thu-5-vao-top-50-doanh-nghiep-niem-yet-tot-nhat-viet-nam-dpm1-thumb169.jpg"
                                    alt="PVFCCo lần thứ 5 vào Top 50 doanh nghiệp niêm yết tốt nhất Việt Nam"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/pvfcco-lan-thu-5-vao-top-50-doanh-nghiep-niem-yet-tot-nhat-viet-nam-post28221.html"
                                title="PVFCCo lần thứ 5 vào Top 50 doanh nghiệp niêm yết tốt nhất Việt Nam">
                                <h2 class="font-2 fs-12">PVFCCo lần thứ 5 vào Top 50 doanh nghiệp niêm yết tốt nhất Việt
                                    Nam</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/kinh-te-the-gioi-sau-gan-nua-chang-duong-2019-post28217.html"
                                title="Kinh tế thế giới sau gần nửa chặng đường 2019" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/8eb66fc40f79656f65782847ddb57ad9/thumb/kinh-te-the-gioi-sau-gan-nua-chang-duong-2019-1111-thumb169.jpg"
                                    alt="Kinh tế thế giới sau gần nửa chặng đường 2019" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/kinh-te-the-gioi-sau-gan-nua-chang-duong-2019-post28217.html"
                                title="Kinh tế thế giới sau gần nửa chặng đường 2019">
                                <h2 class="font-2 fs-12"><mark>Kinh tế</mark> thế giới sau gần nửa chặng đường 2019</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/le-ky-ket-hop-tac-thuc-day-cac-giao-dich-kinh-te-post28097.html"
                                title="Lễ ký kết hợp tác thúc đẩy các giao dịch kinh tế" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/3090f54f8d8eecd6469c3a9eb3ddb48a/thumb/le-ky-ket-hop-tac-thuc-day-cac-giao-dich-kinh-te-ky-ket-thumb169.jpg"
                                    alt="Lễ ký kết hợp tác thúc đẩy các giao dịch kinh tế" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/le-ky-ket-hop-tac-thuc-day-cac-giao-dich-kinh-te-post28097.html"
                                title="Lễ ký kết hợp tác thúc đẩy các giao dịch kinh tế">
                                <h2 class="font-2 fs-12">Lễ ký kết hợp tác thúc đẩy các giao dịch <mark>kinh tế</mark>
                                </h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/tang-gia-dien-neu-bi-phan-ung-nen-xem-xet-lai-post28089.html"
                                title="Tăng giá điện, nếu bị phản ứng nên xem xét lại" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/2ed82a7e645e45584d3aabab834eef35/thumb/tang-gia-dien-neu-bi-phan-ung-nen-xem-xet-lai-nguyenlanhieu-thumb169.jpg"
                                    alt="Tăng giá điện, nếu bị phản ứng nên xem xét lại" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/tang-gia-dien-neu-bi-phan-ung-nen-xem-xet-lai-post28089.html"
                                title="Tăng giá điện, nếu bị phản ứng nên xem xét lại">
                                <h2 class="font-2 fs-12">Tăng giá điện, nếu bị phản ứng nên xem xét lại</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/su-doan-309tuyen-truyen-chinh-sach-ket-hop-kinh-te-voi-qpan-post28082.html"
                                title="Sư đoàn 309:Tuyên truyền chính sách “Kết hợp kinh tế với QPAN" "="" class="
                                flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/ebd915aa666c3c541d16253342ab39c4/thumb/su-doan-309tuyen-truyen-chinh-sach-ket-hop-kinh-te-voi-qpan-61916470_1296462503844356_7806818928449028096_n-thumb169.jpg"
                                    alt="Sư đoàn 309:Tuyên truyền chính sách “Kết hợp kinh tế với QPAN" "="" width="
                                    100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/su-doan-309tuyen-truyen-chinh-sach-ket-hop-kinh-te-voi-qpan-post28082.html"
                                title="Sư đoàn 309:Tuyên truyền chính sách “Kết hợp kinh tế với QPAN" "=""><h2 class="
                                font-2 fs-12">Sư đoàn 309:Tuyên truyền chính sách “Kết hợp kinh tế với QPAN"
                                </h2></a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/proptech-xu-huong-tat-yeu-cua-thi-truong-bds-post28032.html"
                                title="Proptech: Xu hướng tất yếu của thị trường BĐS" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/e41605316903fe4426fb0c9eee0c5b19/thumb/proptech-xu-huong-tat-yeu-cua-thi-truong-bds-img_5125-thumb169.JPG"
                                    alt="Proptech: Xu hướng tất yếu của thị trường BĐS" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/proptech-xu-huong-tat-yeu-cua-thi-truong-bds-post28032.html"
                                title="Proptech: Xu hướng tất yếu của thị trường BĐS">
                                <h2 class="font-2 fs-12">Proptech: Xu hướng tất yếu của thị trường BĐS</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/kim-lien-que-bac-huong-toi-ntm-kieu-mau-post27975.html"
                                title="Kim Liên - quê Bác hướng tới NTM kiểu mẫu" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/4619fc1a5d71dd96726eb8afd947b7f0/thumb/kim-lien-que-bac-huong-toi-ntm-kieu-mau-tr2t-thumb169.jpg"
                                    alt="Kim Liên - quê Bác hướng tới NTM kiểu mẫu" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/kim-lien-que-bac-huong-toi-ntm-kieu-mau-post27975.html"
                                title="Kim Liên - quê Bác hướng tới NTM kiểu mẫu">
                                <h2 class="font-2 fs-12">Kim Liên - quê Bác hướng tới NTM kiểu mẫu</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/hlv-luc-ngan-tham-gia-hieu-qua-chuyen-dich-co-cau-kinh-te-nn-post27974.html"
                                title="HLV Lục Ngạn: Tham gia hiệu quả chuyển dịch cơ cấu kinh tế NN"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/0ba166bf271f1eb979cda386d2b74265/thumb/hlv-luc-ngan-tham-gia-hieu-qua-chuyen-dich-co-cau-kinh-te-nn-tr4t-thumb169.jpg"
                                    alt="HLV Lục Ngạn: Tham gia hiệu quả chuyển dịch cơ cấu kinh tế NN"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/hlv-luc-ngan-tham-gia-hieu-qua-chuyen-dich-co-cau-kinh-te-nn-post27974.html"
                                title="HLV Lục Ngạn: Tham gia hiệu quả chuyển dịch cơ cấu kinh tế NN">
                                <h2 class="font-2 fs-12">HLV Lục Ngạn: Tham gia hiệu quả chuyển dịch cơ cấu <mark>kinh
                                        tế</mark> NN</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/sang-mai-tu-tuong-ho-chi-minh-trong-phong-trao-htx-post27967.html"
                                title="Sáng mãi tư tưởng Hồ Chí Minh trong phong trào HTX" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/sang-mai-tu-tuong-ho-chi-minh-trong-phong-trao-htx-1-thumb169.JPG"
                                    alt="Sáng mãi tư tưởng Hồ Chí Minh trong phong trào HTX" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/sang-mai-tu-tuong-ho-chi-minh-trong-phong-trao-htx-post27967.html"
                                title="Sáng mãi tư tưởng Hồ Chí Minh trong phong trào HTX">
                                <h2 class="font-2 fs-12">Sáng mãi tư tưởng Hồ Chí Minh trong phong trào HTX</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/dak-lak-phat-hien-hon-20-tan-phan-bon-khong-co-nguon-goc-hop-phap-post27917.html"
                                title="Đắk Lắk: Phát hiện hơn 20 tấn phân bón không có nguồn gốc hợp pháp"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/c96a3c8c43f8a4316ba293e5257bceb4/thumb/2019May2122-3-5-thumb169.JPG"
                                    alt="Đắk Lắk: Phát hiện hơn 20 tấn phân bón không có nguồn gốc hợp pháp"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/dak-lak-phat-hien-hon-20-tan-phan-bon-khong-co-nguon-goc-hop-phap-post27917.html"
                                title="Đắk Lắk: Phát hiện hơn 20 tấn phân bón không có nguồn gốc hợp pháp">
                                <h2 class="font-2 fs-12">Đắk Lắk: Phát hiện hơn 20 tấn phân bón không có nguồn gốc hợp
                                    pháp</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/kinh-te-nhat-ban-sang-sua-khi-gdp-tang-2-quy-lien-tiep-post27903.html"
                                title="Kinh tế Nhật Bản sáng sủa khi GDP tăng 2 quý liên tiếp" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/388e1fde50eb5883ad7b020fdb42b250/thumb/kinh-te-nhat-ban-sang-sua-khi-gdp-tang-2-quy-lien-tiep-kinh_te_nhat-thumb169.jpg"
                                    alt="Kinh tế Nhật Bản sáng sủa khi GDP tăng 2 quý liên tiếp" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/kinh-te-nhat-ban-sang-sua-khi-gdp-tang-2-quy-lien-tiep-post27903.html"
                                title="Kinh tế Nhật Bản sáng sủa khi GDP tăng 2 quý liên tiếp">
                                <h2 class="font-2 fs-12"><mark>Kinh tế</mark> Nhật Bản sáng sủa khi GDP tăng 2 quý liên
                                    tiếp</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/thu-tuong-chi-thi-ve-phat-trien-ben-vung-post27897.html"
                                title="Thủ tướng chỉ thị về phát triển bền vững" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/91a8651859745d25095a46fdda893cfa/thumb/thu-tuong-chi-thi-ve-phat-trien-ben-vung-phat-trien-ben-vung2-thumb169.jpg"
                                    alt="Thủ tướng chỉ thị về phát triển bền vững" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/thu-tuong-chi-thi-ve-phat-trien-ben-vung-post27897.html"
                                title="Thủ tướng chỉ thị về phát triển bền vững">
                                <h2 class="font-2 fs-12">Thủ tướng chỉ thị về phát triển bền vững</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/quang-ninh-ghi-nhan-co-khach-du-lich-pv-bi-doa-dap-may-quay-post27889.html"
                                title="Quảng Ninh: Ghi nhận “cò” khách du lịch, PV bị dọa đập máy quay"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/5ebb9c2331e5ad574f452f293607041f/thumb/quang-ninh-ghi-nhan-co-khach-du-lich-pv-bi-doa-dap-may-quay-60431566_290389338517522_902337410157772800_n-thumb169.jpg"
                                    alt="Quảng Ninh: Ghi nhận “cò” khách du lịch, PV bị dọa đập máy quay"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/quang-ninh-ghi-nhan-co-khach-du-lich-pv-bi-doa-dap-may-quay-post27889.html"
                                title="Quảng Ninh: Ghi nhận “cò” khách du lịch, PV bị dọa đập máy quay">
                                <h2 class="font-2 fs-12">Quảng Ninh: Ghi nhận “cò” khách du lịch, PV bị dọa đập máy quay
                                </h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/nam-2019-no-luc-de-vuot-qua-kho-khan-thach-thuc-post27885.html"
                                title="Năm 2019, nỗ lực để vượt qua khó khăn, thách thức" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/87208431a38b263a8212d32da9222f2d/thumb/nam-2019-no-luc-de-vuot-qua-kho-khan-thach-thuc-khai-mac-thumb169.jpg"
                                    alt="Năm 2019, nỗ lực để vượt qua khó khăn, thách thức" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/nam-2019-no-luc-de-vuot-qua-kho-khan-thach-thuc-post27885.html"
                                title="Năm 2019, nỗ lực để vượt qua khó khăn, thách thức">
                                <h2 class="font-2 fs-12">Năm 2019, nỗ lực để vượt qua khó khăn, thách thức</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/chuyen-doi-so-chia-khoa-thuc-day-tang-truong-post27835.html"
                                title="Chuyển đổi số: Chìa khóa thúc đẩy tăng trưởng" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/f1fe81fa0a090bb5339e0bc688966e9b/thumb/chuyen-doi-so-chia-khoa-thuc-day-tang-truong-nqh01481-thumb169.jpg"
                                    alt="Chuyển đổi số: Chìa khóa thúc đẩy tăng trưởng" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/chuyen-doi-so-chia-khoa-thuc-day-tang-truong-post27835.html"
                                title="Chuyển đổi số: Chìa khóa thúc đẩy tăng trưởng">
                                <h2 class="font-2 fs-12">Chuyển đổi số: Chìa khóa thúc đẩy tăng trưởng</h2>
                            </a>
                        </header>
                    </article>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row text-center">
                <ul class="pagination pagination-md">
                    <li class="pstate active"><a>1</a></li>
                    <li class="pstate" data-id="2"><a
                            href="https://kinhtenongthon.vn/tim-kiem/?key=kinh+tế&amp;page=2">2</a></li>
                    <li class="pstate" data-id="3"><a
                            href="https://kinhtenongthon.vn/tim-kiem/?key=kinh+tế&amp;page=3">3</a></li>
                    <li class="pstate" data-id="4"><a
                            href="https://kinhtenongthon.vn/tim-kiem/?key=kinh+tế&amp;page=4">4</a></li>
                    <li class="pstate" data-id="5"><a
                            href="https://kinhtenongthon.vn/tim-kiem/?key=kinh+tế&amp;page=5">5</a></li>
                    <li class="next pstate" data-id="2"><a
                            href="https://kinhtenongthon.vn/tim-kiem/?key=kinh+tế&amp;page=2">»</a></li>
                    <li class="pstate" data-id="42"><a
                            href="https://kinhtenongthon.vn/tim-kiem/?key=kinh+tế&amp;page=42">→</a></li>
                </ul>
            </div>
        </section>
    </div>
</main>