    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <form method="POST">
                        <div class="form-group">
                            <label for="txtCatName">Nhãn (Tag)</label>
                            <input required type="text" class="form-control" id="txtCatName" name="Tag_Name" autofocus
                                placeholder="Tên nhãn">
                        </div>
                        <a  class="btn btn-primary" href="/admin/quanlynhan" role="button" >
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Quay lại danh sách
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Lưu lại
                        </button>
                    </form>
                </div>


            </div>
        </div><!-- .animated -->
    </div>
