<!-- BEGIN:navbar menu -->
  <div >
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="top: 0px;">
      <div class="container"> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-justified">
            <li class="font-bold" style="border-bottom: 2px solid #BD2C3E">
              <a href="#">
                Danh sách admin
              </a>
            </li>
            <li class="font-bold">
              <a href="AdminQuanLyChuyenMuc.html">
                Quản lý chuyên mục
              </a>
            </li>
            <li class="font-bold">
              <a class="dropdown-toggle" href="AdminQuanLyNhan.html">
                Quản lý nhãn
              </a>
            </li>
            <li class="font-bold">
              <a class="dropdown-toggle" href="AdminQuanLyBaiViet.html">
                Quản lý bài viết
              </a>
            </li>
            <li class="font-bold">
              <a class="dropdown-toggle" href="AdminQuanLyNguoiDung.html">
                Quản lý người dùng
              </a>
            </li>

           <!-- icon login  -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="img/avatar-editor.jpg" style="width: 33px; height: 33px;">
                <i class="fa fa-angle-down"></i>
                </a><ul class="dropdown-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <li class="userSub">
                    <h5>Nguyễn Văn A</h5>
                  </li>

                  <li role="separator" class="divider"></li>

                  </a>
                  
                  <li>
                    <span style="padding-left: 20px;font-weight: bold;">Admin
                    </span>
                  </li>
                  
                   <li role="separator" class="divider"></li>
                  <li>
                    <a href="home.html">
                      <span class="dropdown-link-text">Đăng xuất</span>
                    </a>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- END:navbar menu -->
  
 <!--  BEGIN: container -->
   <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Quản lý <b>admin</b></h2></div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-info add-new" style="float: right;
                      margin-bottom: 12px;"><i class="fa fa-plus"></i>Thêm mới</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tên admin</th>
                        <th>Tài khoản</th>
                        <th>Mật khẩu</th>
                        <th>Ngày gia nhập</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>Admin</td>
                        <td>admin123</td>
                        <td>123</td>
                        <td>
                            <a class="add" data-toggle="tooltip"><i class="material-icons">zoom_in</i></a>
                            <a class="edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn B</td>
                        <td>Admin2</td>
                        <td>admin123</td>
                        <td>123</td>
                        <td>
                            <a class="add" data-toggle="tooltip"><i class="material-icons">zoom_in</i></a>
                            <a class="edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>     
<!--  END: container -->