    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <form method="POST">
                        <div class="form-group">
                            <label for="txtCatName">Chuyên mục</label>
                            <input type="text" class="form-control" id="txtCatName" name="CatName" autofocus
                                placeholder="Tên chuyên mục">
                        </div>
                        <div class="form-group">
                            <label for="txtCatParentName">Tên chuyên mục cha</label>
                            <select class="form-control" name="Parent_ID">
                                {{#each this.parentCat}}
                                    <option value="{{ID}}">{{TenCM}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <a  class="btn btn-primary" href="/admin/quanlychuyenmuc" role="button" >
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Quay lại danh sách
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Lưu lại
                        </button>
                    </form>
                </div>


            </div>
        </div><!-- .animated -->
    </div>
