<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/admin/quanlychuyenmuc/restore">
                    <div class="form-group">
                        <label for="txtCatID">Mã số</label>
                        <input readonly type="text" class="form-control" id="txtCatID" name="CatID"
                            value="{{this.cat.CatID}}">
                    </div>
                    <div class="form-group">
                        <label for="txtCatName">Chuyên mục</label>
                        <input readonly type="text" class="form-control" id="txtCatName" name="CatName"
                            placeholder="{{this.cat.CatName}}">
                    </div>

                    {{#if isNull}}
                    <div class="form-group">
                        <label for="txtCatParentName">Chuyên mục cha</label>
                        <input readonly type="text" class="form-control" id="txtCatParentName" placeholder="NULL">
                    </div>
                    {{else}}
                    <div class="form-group">
                        <label for="txtCatParentName">Chuyên mục cha</label>
                        <input readonly type="text" class="form-control" id="txtCatParentName"
                            placeholder="{{this.cat.TenCM}}">
                    </div>
                    {{/if}}

                    <a class="btn btn-primary" href="/admin/quanlychuyenmuc" role="button">
                        <i class="fa fa-backward" aria-hidden="true"></i>
                        Quay lại
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Khôi phục
                    </button>
                </form>
            </div>


        </div>
    </div><!-- .animated -->
</div>