{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
        $("#loginForm").validate({
            rules: {
                dnusername: {
                    required: true
                },
                dnpassword: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                dnusername: {
                    required: 'Vui long nhap username cua ban',
                },
                dnpassword: {
                    required: 'Nhap mat khau cua ban',
                    minlength: 'Mat khau it nhat 5 ki tu'
                }
            },

            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            },
        });


        $("#DOB").datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });

        $("#registerForm").validate({
            rules: {
                dkusername: {
                    required: true,
                },
                dkpassword: {
                    required: true,
                    minlength: 8
                },
                dkpassword_confirmation: {
                    required: true,
                    equalTo: $('[name="dkpassword"]')
                },
                dkname: {
                    required: true
                },
                dkemail: {
                    required: true,
                    email: true
                },
            },
            messages: {
                dkusername: {
                    required: 'Vui long nhap username cua ban',
                },
                dkpassword: {
                    required: 'Nhap mat khau cua ban',
                    minlength: 'Mat khau it nhat 8 ki tu'
                },
                dkpassword_confirmation: {
                    required: 'Nhap lai mat khau cua ban',
                    equalTo: 'Mat khau chua trung'
                },
                dkname: {
                    required: 'Nhap ho va ten',
                },
                dkemail: {
                    required: 'Nhap email cua ban',
                    email: 'Chua dung dinh dang email'
                }
            },

            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>
{{/section}}

<!-- END:navbar menu -->
<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login with</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="social">
                            <a id="google_login" class="circle google" href="#">
                                <i class="fa fa-google-plus fa-fw"></i>
                            </a>
                            <a id="facebook_login" class="circle facebook" href="#">
                                <i class="fa fa-facebook fa-fw"></i>
                            </a>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form accept-charset="UTF-8" id="loginForm">
                                <input id="dnusername" class="form-control" type="text" placeholder="Username"
                                    name="dnusername" autofocus>
                                <input id="dnpassword" class="form-control" type="password" placeholder="Password"
                                    name="dnpassword">
                                <input class="btn btn-default btn-login" type="submit" value="Login">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <form html="{:multipart=>true}" data-remote="true" accept-charset="UTF-8"
                                id="registerForm">
                                <input id="dkusername" class="form-control" type="text" placeholder="Username"
                                    name="dkusername" autofocus>
                                <input id="dkpassword" class="form-control" type="password" placeholder="Password"
                                    name="dkpassword">
                                <input id="dkpassword_confirmation" class="form-control" type="password"
                                    placeholder="Repeat Password" name="dkpassword_confirmation">
                                <input id="dkname" class="form-control" type="text" placeholder="Name" name="dkname">
                                <input id="dkemail" class="form-control" type="email" placeholder="Email"
                                    name="dkemail">


                                {{!-- <form action="?" method="POST" id="captcha"> --}}
                                <div id="captcha" name="captcha" class="g-recaptcha"
                                    data-sitekey="6LdwBKkUAAAAAAOwExf92QKAHkR_RIX5l519_Q-M"></div>
                                <br />
                                <input class="btn btn-default btn-register" type="submit" value="Create account">
                                {{!-- </form> --}}


                                {{!-- <input id="DOB" class="form-control" type="text" name="DOB"> --}}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                    <span>Looking to
                        <a href="javascript: showRegisterForm();">create an account</a>
                        ?</span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Already have an account?</span>
                    <a href="javascript: showLoginForm();">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>