<main id="content" class="content">
    {{!-- <div class="container">
        <header class="text-center font-2 mt15 mb15">
            <h1 style="font-size:2.1em">
                <small class="text-primary"><i class="fa fa-keyboard-o"></i> Từ khóa: </small>
                <span class="text-success">h</span>
            </h1>
        </header>
        <section>
            <div class="row box-list-news box-list-news_search">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/bao-ton-va-thuc-day-phat-trien-cong-vien-dia-chat-ly-son-sa-huynh-post28538.html"
                                title="Bảo tồn Thái và thúc đẩy phát triển Công viên địa chất Lý Sơn-Sa Huỳnh"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/9df811bc0ec3cd1b8ce8e8f1bab30be4/thumb/hoi-thao-quoc-te-ve-gia-tri-di-san-cong-vien-dia-chat-ly-son-sa-huynh-2-thumb169.JPG"
                                    alt="Bảo tồn và thúc đẩy phát triển Công viên địa chất Lý Sơn-Sa Huỳnh"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/bao-ton-va-thuc-day-phat-trien-cong-vien-dia-chat-ly-son-sa-huynh-post28538.html"
                                title="Bảo tồn và thúc đẩy phát triển Công viên địa chất Lý Sơn-Sa Huỳnh">
                                <h2 class="font-2 fs-12">Bảo tồn và t<mark>h</mark>úc đẩy p<mark>h</mark>át triển Công
                                    viên địa c<mark>h</mark>ất Lý Sơn-Sa <mark>H</mark>uỳn<mark>h</mark></h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/cau-thach-bich-qua-song-tra-khuc-chinh-thuc-thong-xe-post28536.html"
                                title="Cầu Thạch Bích qua sông Trà Khúc chính thức thông xe" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/cau-thach-bich-qua-song-tra-khuc-chinh-thuc-thong-xe-4-thumb169.JPG"
                                    alt="Cầu Thạch Bích qua sông Trà Khúc chính thức thông xe" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/cau-thach-bich-qua-song-tra-khuc-chinh-thuc-thong-xe-post28536.html"
                                title="Cầu Thạch Bích qua sông Trà Khúc chính thức thông xe">
                                <h2 class="font-2 fs-12">Cầu T<mark>h</mark>ạc<mark>h</mark> Bíc<mark>h</mark> qua sông
                                    Trà K<mark>h</mark>úc c<mark>h</mark>ín<mark>h</mark> t<mark>h</mark>ức
                                    t<mark>h</mark>ông xe</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/nhat-ban-0-4-chile-sanchez-lap-cong-chile-dai-thang-ngay-ra-quan-post28535.html"
                                title="Nhật Bản 0-4 Chile: Sanchez lập công, Chile đại thắng ngày ra quân"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/9ec842d5f046f2a1b92531d913349940/thumb/nhat-ban-0-4-chile-sanchez-lap-cong-chile-dai-thang-ngay-ra-quan-nhat-chile-thumb169.jpg"
                                    alt="Nhật Bản 0-4 Chile: Sanchez lập công, Chile đại thắng ngày ra quân"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/nhat-ban-0-4-chile-sanchez-lap-cong-chile-dai-thang-ngay-ra-quan-post28535.html"
                                title="Nhật Bản 0-4 Chile: Sanchez lập công, Chile đại thắng ngày ra quân">
                                <h2 class="font-2 fs-12">N<mark>h</mark>ật Bản 0-4 C<mark>h</mark>ile:
                                    Sanc<mark>h</mark>ez lập công, C<mark>h</mark>ile đại t<mark>h</mark>ắng ngày ra
                                    quân</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/mai-thuy-nang-cao-chat-luong-cac-tieu-chi-post28516.html"
                                title="Mai Thủy nâng cao chất lượng các tiêu chí" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/mai-thuy-nang-cao-chat-luong-cac-tieu-chi-tr2d-thumb169.JPG"
                                    alt="Mai Thủy nâng cao chất lượng các tiêu chí" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/mai-thuy-nang-cao-chat-luong-cac-tieu-chi-post28516.html"
                                title="Mai Thủy nâng cao chất lượng các tiêu chí">
                                <h2 class="font-2 fs-12">Mai T<mark>h</mark>ủy nâng cao c<mark>h</mark>ất lượng các tiêu
                                    c<mark>h</mark>í</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/thu-tuong-chi-thi-kiem-ke-dat-dai-lap-ban-do-hien-trang-su-dung-dat-post28534.html"
                                title="Thủ tướng chỉ thị kiểm kê đất đai, lập bản đồ hiện trạng sử dụng đất  "
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/3267dec781c12a789908ab9af5039334/thumb/thu-tuong-chi-thi-kiem-ke-dat-dai-lap-ban-do-hien-trang-su-dung-dat-do-dac-thumb169.jpg"
                                    alt="Thủ tướng chỉ thị kiểm kê đất đai, lập bản đồ hiện trạng sử dụng đất  "
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/thu-tuong-chi-thi-kiem-ke-dat-dai-lap-ban-do-hien-trang-su-dung-dat-post28534.html"
                                title="Thủ tướng chỉ thị kiểm kê đất đai, lập bản đồ hiện trạng sử dụng đất  ">
                                <h2 class="font-2 fs-12">T<mark>h</mark>ủ tướng c<mark>h</mark>ỉ t<mark>h</mark>ị kiểm
                                    kê đất đai, lập bản đồ <mark>h</mark>iện trạng sử dụng đất </h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/ban-tu-ru-nhau-gay-ra-5-vu-cuop-tao-ton-post28533.html"
                                title="Bạn tù rủ nhau gây ra 5 vụ cướp táo tợn" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/2019Jun1808-2-9-thumb169.jpg"
                                    alt="Bạn tù rủ nhau gây ra 5 vụ cướp táo tợn" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/ban-tu-ru-nhau-gay-ra-5-vu-cuop-tao-ton-post28533.html"
                                title="Bạn tù rủ nhau gây ra 5 vụ cướp táo tợn">
                                <h2 class="font-2 fs-12">Bạn tù rủ n<mark>h</mark>au gây ra 5 vụ cướp táo tợn</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/hai-duong-trao-20-giai-bao-chi-nhan-ky-niem-ngay-216-post28528.html"
                                title="Hải Dương: Trao 20 giải báo chí nhân kỷ niệm ngày 21/6" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/7ba77854a96f6a3182fc526ae3018403/thumb/hai-duong-trao-20-giai-bao-chi-nhan-ky-niem-ngay-216-64368182_2378986152425152_448445150352375808_n-thumb169.jpg"
                                    alt="Hải Dương: Trao 20 giải báo chí nhân kỷ niệm ngày 21/6" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/hai-duong-trao-20-giai-bao-chi-nhan-ky-niem-ngay-216-post28528.html"
                                title="Hải Dương: Trao 20 giải báo chí nhân kỷ niệm ngày 21/6">
                                <h2 class="font-2 fs-12"><mark>H</mark>ải Dương: Trao 20 giải báo c<mark>h</mark>í
                                    n<mark>h</mark>ân kỷ niệm ngày 21/6</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/cuong-che-cong-ty-cp-dau-tu-pt-giao-duc-tds-viet-nam-vi-pham-ttxd-post28532.html"
                                title="Cưỡng chế Công ty CP đầu tư PT giáo dục - TDS Việt Nam vi phạm TTXD "
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/cuong-che-cong-ty-cp-dau-tu-pt-giao-duc-tds-viet-nam-vi-phamttxd-4-thumb169.jpg"
                                    alt="Cưỡng chế Công ty CP đầu tư PT giáo dục - TDS Việt Nam vi phạm TTXD "
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/cuong-che-cong-ty-cp-dau-tu-pt-giao-duc-tds-viet-nam-vi-pham-ttxd-post28532.html"
                                title="Cưỡng chế Công ty CP đầu tư PT giáo dục - TDS Việt Nam vi phạm TTXD ">
                                <h2 class="font-2 fs-12">Cưỡng c<mark>h</mark>ế Công ty CP đầu tư PT giáo dục - TDS Việt
                                    Nam vi p<mark>h</mark>ạm TTXD </h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/chong-tham-nhung-chinh-ngay-trong-cac-co-quan-chong-tham-nhung-post28527.html"
                                title="“Chống tham nhũng chính ngay trong các cơ quan chống tham nhũng”"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/b6e8c5451a2f2a81cf2dc6a7ca9903ea/thumb/chong-tham-nhung-chinh-ngay-trong-cac-co-quan-chong-tham-nhung-nguyen_phu_trong-thumb169.jpg"
                                    alt="“Chống tham nhũng chính ngay trong các cơ quan chống tham nhũng”"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/chong-tham-nhung-chinh-ngay-trong-cac-co-quan-chong-tham-nhung-post28527.html"
                                title="“Chống tham nhũng chính ngay trong các cơ quan chống tham nhũng”">
                                <h2 class="font-2 fs-12">“C<mark>h</mark>ống t<mark>h</mark>am n<mark>h</mark>ũng
                                    c<mark>h</mark>ín<mark>h</mark> ngay trong các cơ quan c<mark>h</mark>ống
                                    t<mark>h</mark>am n<mark>h</mark>ũng”</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/ai-chong-lung-cho-2-cong-trinh-lan-chiem-so-66-68-ngo-52-to-ngoc-van-post28525.html"
                                title="Ai chống lưng cho 2 công trình lấn chiếm số 66, 68 ngõ 52 Tô Ngọc Vân?"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/75a1f82bf4376a1bcfdc5a0bd08ac34f/thumb/ai-chong-lung-cho-cong-trinh-xay-dung-so-66-68-ngo-52-phuong-nhat-tan-20190514_103600-thumb169.jpg"
                                    alt="Ai chống lưng cho 2 công trình lấn chiếm số 66, 68 ngõ 52 Tô Ngọc Vân?"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/ai-chong-lung-cho-2-cong-trinh-lan-chiem-so-66-68-ngo-52-to-ngoc-van-post28525.html"
                                title="Ai chống lưng cho 2 công trình lấn chiếm số 66, 68 ngõ 52 Tô Ngọc Vân?">
                                <h2 class="font-2 fs-12">Ai c<mark>h</mark>ống lưng c<mark>h</mark>o 2 công
                                    trìn<mark>h</mark> lấn c<mark>h</mark>iếm số 66, 68 ngõ 52 Tô Ngọc Vân?</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/ct-group-tuyen-dung-thuc-tap-thu-nhap-cao-cho-sv-ngheo-hoc-gioi-2019-post28529.html"
                                title="C.T Group tuyển dụng “Thực tập thu nhập cao cho SV nghèo học giỏi 2019"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/2ea378679b99c7404ea82530ae517768/thumb/2019Jun1721-65006791_439071183557529_7394859224628461568_n-thumb169.png"
                                    alt="C.T Group tuyển dụng “Thực tập thu nhập cao cho SV nghèo học giỏi 2019"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/ct-group-tuyen-dung-thuc-tap-thu-nhap-cao-cho-sv-ngheo-hoc-gioi-2019-post28529.html"
                                title="C.T Group tuyển dụng “Thực tập thu nhập cao cho SV nghèo học giỏi 2019">
                                <h2 class="font-2 fs-12">C.T Group tuyển dụng “T<mark>h</mark>ực tập t<mark>h</mark>u
                                    n<mark>h</mark>ập cao c<mark>h</mark>o SV ng<mark>h</mark>èo <mark>h</mark>ọc giỏi
                                    2019</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/gia-xang-giam-manh-post28523.html"
                                title="Giá xăng giảm mạnh" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/16cba01e083801067db052ea5cfd254c/thumb/gia-xang-giam-manh-xang-thumb169.jpg"
                                    alt="Giá xăng giảm mạnh" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/gia-xang-giam-manh-post28523.html"
                                title="Giá xăng giảm mạnh">
                                <h2 class="font-2 fs-12">Giá xăng giảm mạn<mark>h</mark></h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/agribank-huong-ung-ngay-khong-tien-mat-va-nhan-nhieu-uu-dai-hap-dan-post28522.html"
                                title="Agribank hưởng ứng " ngày="" không="" tiền="" mặt”="" và="" nhận="" nhiều=""
                                ưu="" đãi="" hấp="" dẫn"="" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/d70e32743f8e7a78de2f837c5b4d3833/thumb/agribank-huong-ung-ngay-khong-tien-mat-va-nhan-nhieu-uu-dai-hap-dan-bai-viet-05-thumb169.jpg"
                                    alt="Agribank hưởng ứng " ngày="" không="" tiền="" mặt”="" và="" nhận="" nhiều=""
                                    ưu="" đãi="" hấp="" dẫn"="" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/agribank-huong-ung-ngay-khong-tien-mat-va-nhan-nhieu-uu-dai-hap-dan-post28522.html"
                                title="Agribank hưởng ứng " ngày="" không="" tiền="" mặt”="" và="" nhận="" nhiều=""
                                ưu="" đãi="" hấp="" dẫn"="">
                                <h2 class="font-2 fs-12">Agribank <mark>h</mark>ưởng ứng "Ngày k<mark>h</mark>ông tiền
                                    mặt” và n<mark>h</mark>ận n<mark>h</mark>iều ưu đãi <mark>h</mark>ấp dẫn</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/doi-phao-hoa-anh-trung-quoc-co-mat-tai-da-nang-chuan-bi-cho-diff-2019-post28520.html"
                                title="Đội pháo hoa Anh, Trung Quốc có mặt tại Đà Nẵng chuẩn bị cho DIFF 2019"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/dafd2bc3a016e34da1c696cb44993a56/thumb/doi-phao-hoa-anh-trung-quoc-co-mat-o-da-nang-chuan-bi-cho-diff-2019-doi-anh-1-thumb169.jpg"
                                    alt="Đội pháo hoa Anh, Trung Quốc có mặt tại Đà Nẵng chuẩn bị cho DIFF 2019"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/doi-phao-hoa-anh-trung-quoc-co-mat-tai-da-nang-chuan-bi-cho-diff-2019-post28520.html"
                                title="Đội pháo hoa Anh, Trung Quốc có mặt tại Đà Nẵng chuẩn bị cho DIFF 2019">
                                <h2 class="font-2 fs-12">Đội p<mark>h</mark>áo <mark>h</mark>oa An<mark>h</mark>, Trung
                                    Quốc có mặt tại Đà Nẵng c<mark>h</mark>uẩn bị c<mark>h</mark>o DIFF 2019</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/thoi-diem-vang-de-nhe-nhang-rinh-xe-hop-post28519.html"
                                title="Thời điểm “vàng” để nhẹ nhàng rinh xế hộp" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/8595663aca75cac5588e45a0b8602baa/thumb/thoi-diem-vang-de-nhe-nhang-rinh-xe-hop-anh-minh-hoa-thumb169.jpg"
                                    alt="Thời điểm “vàng” để nhẹ nhàng rinh xế hộp" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/thoi-diem-vang-de-nhe-nhang-rinh-xe-hop-post28519.html"
                                title="Thời điểm “vàng” để nhẹ nhàng rinh xế hộp">
                                <h2 class="font-2 fs-12">T<mark>h</mark>ời điểm “vàng” để n<mark>h</mark>ẹ
                                    n<mark>h</mark>àng rin<mark>h</mark> xế <mark>h</mark>ộp</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/trao-21-giai-bao-chi-vi-mot-hai-phong-phat-trien-post28518.html"
                                title="Trao 21 giải báo chí “Vì một Hải Phòng phát triển”" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/trao-21-giai-bao-chi-vi-mot-hai-phong-phat-trien-64467599_469809157104997_6052802276727193600_n-thumb169.jpg"
                                    alt="Trao 21 giải báo chí “Vì một Hải Phòng phát triển”" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/trao-21-giai-bao-chi-vi-mot-hai-phong-phat-trien-post28518.html"
                                title="Trao 21 giải báo chí “Vì một Hải Phòng phát triển”">
                                <h2 class="font-2 fs-12">Trao 21 giải báo c<mark>h</mark>í “Vì một <mark>H</mark>ải
                                    P<mark>h</mark>òng p<mark>h</mark>át triển”</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/thu-tuong-phat-trien-doi-ngu-dn-de-xay-dung-nen-kinh-te-tu-cuong-post28521.html"
                                title="Thủ tướng: Phát triển đội ngũ DN để xây dựng nền kinh tế tự cường"
                                class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/08a1fbda444d0ed569626fdb23520d02/thumb/thu-tuong-phat-trien-doi-ngu-dn-de-xay-dung-nen-kinh-te-tu-cuong-ttg-thumb169.jpg"
                                    alt="Thủ tướng: Phát triển đội ngũ DN để xây dựng nền kinh tế tự cường"
                                    width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/thu-tuong-phat-trien-doi-ngu-dn-de-xay-dung-nen-kinh-te-tu-cuong-post28521.html"
                                title="Thủ tướng: Phát triển đội ngũ DN để xây dựng nền kinh tế tự cường">
                                <h2 class="font-2 fs-12">T<mark>h</mark>ủ tướng: P<mark>h</mark>át triển đội ngũ DN để
                                    xây dựng nền kin<mark>h</mark> tế tự cường</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/tt-y-te-tx-ba-don-chu-trong-phong-chong-dich-va-tcmr-post28515.html"
                                title="TT Y tế TX. Ba Đồn: Chú trọng phòng, chống dịch và TCMR" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/8a8aee6f4d29fa77828d4f011a237ea5/thumb/tt-y-te-tx-ba-don-chu-trong-phong-chong-dich-va-tcmr-tr3t-thumb169.jpg"
                                    alt="TT Y tế TX. Ba Đồn: Chú trọng phòng, chống dịch và TCMR" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/tt-y-te-tx-ba-don-chu-trong-phong-chong-dich-va-tcmr-post28515.html"
                                title="TT Y tế TX. Ba Đồn: Chú trọng phòng, chống dịch và TCMR">
                                <h2 class="font-2 fs-12">TT Y tế TX. Ba Đồn: C<mark>h</mark>ú trọng p<mark>h</mark>òng,
                                    c<mark>h</mark>ống dịc<mark>h</mark> và TCMR</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/xdntm-o-thanh-thuy-di-vao-chieu-sau-post28514.html"
                                title="XDNTM ở Thanh Thủy đi vào chiều sâu" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/media/news/aHR0cHM6Ly9raW5odGVub25ndGhvbi52bi9tZWRpYS9uZXdzLzJkMTVlMDI5ZTVhYjZmOTI1ZTVjYzY0NDczNTBhZDYyL3RodW1iL3hkbnRtLW8tdGhhbmgtdGh1eS1kaS12YW8tY2hpZXUtc2F1LXRyM2QtdGh1bWIxNjkuanBn"
                                    alt="XDNTM ở Thanh Thủy đi vào chiều sâu" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/xdntm-o-thanh-thuy-di-vao-chieu-sau-post28514.html"
                                title="XDNTM ở Thanh Thủy đi vào chiều sâu">
                                <h2 class="font-2 fs-12">XDNTM ở T<mark>h</mark>an<mark>h</mark> T<mark>h</mark>ủy đi
                                    vào c<mark>h</mark>iều sâu</h2>
                            </a>
                        </header>
                    </article>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                        <figure class="article-thumb-img ">
                            <a href="https://kinhtenongthon.vn/nhung-ty-phu-tu-vac-post28513.html"
                                title="Những tỷ phú từ VAC" class="flex_image"><img
                                    src="https://kinhtenongthon.vn/cache/news/nhung-ty-phu-tu-vac-tr4t-thumb169.JPG"
                                    alt="Những tỷ phú từ VAC" width="100%"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="https://kinhtenongthon.vn/nhung-ty-phu-tu-vac-post28513.html"
                                title="Những tỷ phú từ VAC">
                                <h2 class="font-2 fs-12">N<mark>h</mark>ững tỷ p<mark>h</mark>ú từ VAC</h2>
                            </a>
                        </header>
                    </article>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row text-center">
                <ul class="pagination pagination-md">
                    <li class="pstate active"><a>1</a></li>
                    <li class="pstate" data-id="2"><a href="https://kinhtenongthon.vn/tim-kiem/?key=h&amp;page=2">2</a>
                    </li>
                    <li class="pstate" data-id="3"><a href="https://kinhtenongthon.vn/tim-kiem/?key=h&amp;page=3">3</a>
                    </li>
                    <li class="pstate" data-id="4"><a href="https://kinhtenongthon.vn/tim-kiem/?key=h&amp;page=4">4</a>
                    </li>
                    <li class="pstate" data-id="5"><a href="https://kinhtenongthon.vn/tim-kiem/?key=h&amp;page=5">5</a>
                    </li>
                    <li class="next pstate" data-id="2"><a
                            href="https://kinhtenongthon.vn/tim-kiem/?key=h&amp;page=2">»</a></li>
                    <li class="pstate" data-id="1273"><a
                            href="https://kinhtenongthon.vn/tim-kiem/?key=h&amp;page=1273">→</a></li>
                </ul>
            </div>
        </section>
    </div> --}}
    <h1>Thám đẹp traiiiiiiiiiiiiiiiii</h1>
</main>